{% extends "layouts/main.html" %}

{% block pageTitle %}
  When did you start your job? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "apply/v1/includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include "apply/v1/includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../employed/work-hours" method="post">

        {{ govukDateInput({
          namePrefix: "start-date",
          fieldset: {
            legend: {
              text: "When did you start working at" + " " + data['company-name'] + "?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you cannot remember the exact date, give the first day of the month that you started. For example, 1 11 2023"
          }
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../../../task-list" class="govuk-link">Return to tasks</a>
      </p>
      
    </div>

   {% include "apply/v1/includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include "apply/v1/includes/footer" %}
{% endblock %}