{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "DiSC",
            serviceHref: '/index',
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "select-report",
              items: [
                   {
                      href: "../customer-management/search-for-a-customer",
                      text: "Customer management"
                    },
                    {
                      href: "authorise-payments",
                      text: "Claims management"
                    },
                    {
                      href: "select-report",
                      text: "Business information"
                    }
              ]
          }  
        })
}}
{% endblock %}


{% block pageTitle %}
  Audit report criteria – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Select report",
      href: "select-report"
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">  
    <h1 class="govuk-heading-l">Audit report criteria</h1>  
    <form action="../business-information/audit-search-results" method="post" novalidate>

      {{ govukDateInput({
        id: "report-start-date",
        namePrefix: "report-start-date",
        fieldset: {
          legend: {
            text: "Start date"
          }
        }
      }) }}
      {{ govukDateInput({
        id: "report-end-date",
        namePrefix: "report-end-date",
        fieldset: {
          legend: {
            text: "End date"
          }
        }
      }) }}

      {{ govukSelect({
        id: "users",
        name: "users",
        label: {
          text: "Users (optional)"
        },
        classes: "govuk-!-width-full",
        items: [
          {
            value: "Select a user",
            text: "Select a user"
          },
          {
            value: "User 1",
            text: "User 1"
          },
          {
            value: "User 2",
            text: "User 2"
          },
          {
            value: "User 3",
            text: "User 3"
          },
          {
            value: "User 4",
            text: "User 4"
          }
        ]
      }) }}

      {% call govukFieldset({
        legend: {
          text: "Customer details",
          classes: "govuk-fieldset__legend--m"
        }
      }) %}

        {{ govukInput({
          label: {
            text: "Forename(s) (optional)"
          },
          classes: "govuk-input--width-20",
          id: "first-name",
          name: "firstName",
          autocomplete: "given-name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "Surname (optional)"
          },
          classes: "govuk-input--width-20",
          id: "last-name",
          name: "lastName",
          autocomplete: "family-name",
          spellcheck: false
        }) }}

        {{ govukInput({
          label: {
            text: "NiNo (optional)"
          },
          classes: "govuk-input--width-20 govuk-input--extra-letter-spacing",
          id: "national-insurance-number",
          name: "nationalInsuranceNumber",
          spellcheck: false
        }) }}

      {% endcall %}


      {{ govukButton({
          text: "Submit"
        }) 
      }}
    </form>
  </div>
</div>

{% endblock %}
