{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "DiSC",
            serviceHref: '/index',
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "select-report",
              items: [
                   {
                      href: "../customer-management/search-for-a-customer",
                      text: "Customer management"
                    },
                    {
                      href: "authorise-payments",
                      text: "Claims management"
                    },
                    {
                      href: "select-report",
                      text: "Business information"
                    }
              ]
          }  
        })
}}
{% endblock %}


{% block pageTitle %}
  Select report type – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">    
    <form action="/report-type-answer" method="post">
      {{ govukRadios({
            name: "select-report-type",
            value: data['report-type'],
            fieldset: {
              legend: {
                text: "Select a report type",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
          "items": [
            {
              "value": "Audit report criteria",
              "text": "Audit report criteria"
            },
            {
              "value": "Authorise payments",
              "text": "Authorise payments"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) 
      }}
    </form>
  </div>
</div>

{% endblock %}
