{% extends "layouts/main.html" %}

{% block header %}

{{
  dwpHeader({
      serviceName: "John Goldsmith",
      container: true
  })
}}


{{ govukServiceNavigation({
  "serviceName": "Access to Work",
  "serviceUrl": "/index",
  navigation: [
    {
      href: "#",
      text: "Your cases"
    },
    {
      href: "#",
      text: "Search"
    },
    {
      href: "/v1/referrals",
      text: "Referrals",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  Override provider details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select a provider, code and office",
            href: "#provider-mhs"
          }
        ]
      }) }}

      <h1 class="govuk-heading-l">
        Override provider details
      </h1>

      <p class="govuk-body">If works for a provider, for example they are employed by Maximus or Igeus, you will need to make a referral to the opposite provider.</p>

      <p class="govuk-body">If you do not want to use an override code, you must <a href="/v1/mental-health-service/provider-details-authority" class="govuk-link">select a standard provider code</a>.</p>

      <form action="/v1/mental-health-service/check-answers" method="post" novalidate>

{{ govukRadios({
  "name": "provider-mhs",
  "fieldset": {
    "legend": {
      "text": "Select a provider, code and office to send the referral to",
      "classes": "govuk-fieldset__legend--m"
    }
  },
  "items": [
    {
      "value": "Ingeus, HKH/19426, Harrow Kings House",
      "text": "Ingeus, HKH/19426, Harrow Kings House"
    },
    {
      "value": "Maximus, HKH/19428, Harrow Kings House",
      "text": "Maximus, HKH/19428, Harrow Kings House"
    },
    {
      "value": "Ingeus, HLF/2195, Halifax Crossfield House",
      "text": "Ingeus, HLF/2195, Halifax Crossfield House"
    },
    {
      "value": "Maximus, HLF/2197, Halifax Crossfield House",
      "text": "Maximus, HLF/2197, Halifax Crossfield House"
    }
  ],
  "errorMessage": {
    "text": "Select a provider, code and office"
  }
}) }}
                                    

      {{ govukButton({
        text: "Continue"
      }) }}
          
      </form>

    </div>
  </div>

{% endblock %}
