{% extends "layouts/main.html" %}

{% block header %}

{{
  dwpHeader({
      serviceName: "John Goldsmith",
      container: true
  })
}}


{{ govukServiceNavigation({
  "serviceName": "Access to Work",
  "serviceUrl": "/index",
  navigation: [
    {
      href: "#",
      text: "Your cases"
    },
    {
      href: "#",
      text: "Search"
    },
    {
      href: "/v1/referrals",
      text: "Referrals",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  Provider details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select a provider, code and office",
            href: "#provider-mhs"
          }
        ]
      }) }}

      <h1 class="govuk-heading-l">
        Provider details
      </h1>

      <p class="govuk-body"> {{ data['first-name-mhs'] }} {{ data['last-name-mhs'] }}'s National Insurance number is <strong>{{ data['ni-number-mhs'] }}</strong>. If the applicant works for a provider, you can <a href="/v1/mental-health-service/override" class="govuk-link">select an override code</a>.</p>

      {{ govukDetails({
        summaryText: "What is the National Insurance number split?",
        html: "Applicants are referred to providers based on the last 2 digits of their National Insurance number:
        <ul>
          <li>00 - 49 refer to Maximus</li>
          <li>50 - 99 refer to Ingeus</li>
        </ul>"
      }) }}

      <form action="/v1/mental-health-service/check-answers" method="post" novalidate>

{{ govukRadios({
  "name": "provider-mhs",
  "fieldset": {
    "legend": {
      "text": "Select a provider, code and office to send the referral to",
      "classes": "govuk-fieldset__legend--m"
    }
  },
  "items": [
    {
      "value": "Maximus, HKH/19424, Harrow Kings House",
      "text": "Maximus, HKH/19424, Harrow Kings House"
    },
    {
      "value": "Ingeus, HKH/19427, Harrow Kings House",
      "text": "Ingeus, HKH/19427, Harrow Kings House"
    },
    {
      "value": "Maximus, HLF/2193, Halifax Crossfield House",
      "text": "Maximus, HLF/2193, Halifax Crossfield House"
    },
    {
      "value": "Ingeus, HLF/2196, Halifax Crossfield House",
      "text": "Ingeus, HLF/2196, Halifax Crossfield House"
    }
  ],
  "errorMessage": {
    "text": "Select a provider, code and office"
  }
}) }}
                                    

      {{ govukButton({
        text: "Continue"
      }) }}
          
      </form>

    </div>
  </div>

{% endblock %}
