{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "DiSC",
            serviceHref: '/index',
            container: true 
        })
}}
{% endblock %}

{% block pageTitle %}
  Welcome to DiSC – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  <!-- {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }} -->
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">
        Welcome to DiSC
      </h1>

      <p class="govuk-body">Select a category</p>
      
      
    <div class="govuk-width-container">
        <ul class="govuk-grid-row card-group">
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="customer-management">
                    <h2 class="govuk-heading-s card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state govuk-link--no-underline" href="customer-management/search-for-a-customer">Customer manangement</a>
                    </h2>
                    <p class="govuk-body card__description">Search and add customers, with access to al AtW case details.</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="claims management">
                    <h2 class="govuk-heading-s card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state govuk-link--no-underline" href="#">Claims management</a>
                    </h2>
                    <p class="govuk-body card__description">View payment details, payee information, and reconciliation data.</p>
                </div>
            </li>
            <li class="govuk-grid-column-one-third card-group__item">
                <div class="card card--clickable" data-test="use-of-force">
                    <h2 class="govuk-heading-s card__heading">
                        <a class="govuk-link card__link govuk-link--no-visited-state govuk-link--no-underline" href="business-information/select-report">Business information</a>
                    </h2>
                    <p class="govuk-body card__description">Access audit reports, Data Protection Act compliance reports, manager checks, and management information.</p>
                </div>
            </li>
        </ul>
    </div>
    
    

    </div>
  </div>

{% endblock %}
