{% extends "layouts/main.html" %}

{% block header %}

{{ dwpHeader({
  serviceName: "Access to Work",
  serviceHref: '/index',
  container: true,
  classes: "govuk-header--blue"
}) }}

{{ govukServiceNavigation({
  navigation: [
    {
      href: "/index",
      text: "Home"
    },
    {
      href: "/prototypes",
      text: "View prototypes",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  DiSC version 1 – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        DiSC version 1 - page index
      </h1>

      <p>
        This page documents the pages and user journeys which forms the DiSC prototype. 
      </p>

      <h2 class="govuk-heading-m">
        View all DiSC journeys
      </h2>

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

      <h2 class="govuk-heading-m">
        DiSC
      </h2>

      <p>This part of the prototype demonstrates the functionality of the entirety of DiSC and lets you navigate this part of the Access to Work service freely.</p>

      {{ govukButton({
        text: "View all DiSC journeys",
        href: "disc-start"
      }) }}

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0 govuk-!-margin-bottom-5">

      {{ govukAccordion({
          id: "view-more-disc-journeys",
          items: [
            {
              heading: {
                text: "View specific DiSC journeys"
              },
              content: {
                html: '

              <h2 class="govuk-heading-m">
                Business information
              </h2>

              <p>Lorem ipsum... describe business information journey here</p>

              <details class="govuk-details">
                <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                    View a breakdown of pages within the business information journey
                  </span>
                </summary>
                <div class="govuk-details__text">

                  <h2 class="govuk-heading-m">
                    Page index
                  </h2>

                  <h2 class="govuk-heading-m">
                    Business information
                  </h2>

                    <ul class="govuk-list">
                      <li>
                        <a href="../v1/business-information/select-report" class="govuk-link">Select report page</a>
                      </li>
                    </ul>
                    
                </div>
              </details>

              <p class="govuk-body"><a href="../v1/business-information/select-report" class="govuk-link">View business information journey</a></p>

              <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
              '
              }
            }
          ]
        }) }}

      
    </div>
  </div>

{% endblock %}
