{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "../../../sign-out",
    oneLoginLink: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/home/account-home",
    serviceNavigationParams: {
      serviceName: "Claim money back from Access to Work",
      serviceUrl: "/index"
    }
  }) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

 <div class="govuk-back-link-and-translation govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What's {{ data['payee-full-name-lift'] }}'s address?
      </h1>

      <form action="payment-details" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "Building and street"
        },
        id: "address-line-1-lift-claims",
        name: "address-line-1-lift-claims",
        autocomplete: "address-line1"
      }) }}
    
      {{ govukInput({
        id: "address-line-2-lift-claims",
        name: "address-line-2-lift-claims",
        autocomplete: "address-line2"
      }) }}
    
      {{ govukInput({
        label: {
          text: "Town or city"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-town-lift-claims",
        name: "address-town-lift-claims",
        autocomplete: "address-level2"
      }) }}
    
      {{ govukInput({
        label: {
          text: "County"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-county-lift-claims",
        name: "address-county-lift-claims"
      }) }}
    
      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "address-postcode-lift-claims",
        name: "address-postcode-lift-claims",
        autocomplete: "postal-code"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
          
    </form>
    
  </div>
  </div>

{% endblock %}