{% extends "layouts/main.html" %}

{% block pageTitle %}
  Claim for total miles – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "../../../sign-out",
    oneLoginLink: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/home/account-home",
    serviceNavigationParams: {
      serviceName: "Claim money back from Access to Work",
      serviceUrl: "/index"
    }
  }) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

 <div class="govuk-back-link-and-translation govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}

{% block content %}

{% set totalJourneys = 0 %}

{% for i in range (1, 32) %}
  {% set value = data['day-' + i] %}
  {% set totalJourneys = totalJourneys + (value | int(0)) %}
{% endfor%}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        You've told us you want to claim for {{totalJourneys | plural("miles")}}
      </h1>

      <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
          <h2 class="govuk-summary-card__title">
            Miles travelled in {{ data['claim-month'] | monthName }} {{ data['claim-year'] }}
          </h2>
          <dd class="govuk-summary-card__actions">
            <a class="govuk-link" href="mileage">Change miles<span class="govuk-visually-hidden"> in {{ data['claim-month'] }} {{ data['claim-year'] }}</span></a>
          </dd>
        </div>
        <div class="govuk-summary-card__content">
          <dl class="govuk-summary-list">
            {% for i in range (1, 32) %}
              {% set value = data['day-' + i] | int(0) %}

              {% if value > 0  %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{ i }} {{ data['claim-month'] | monthName }} {{ data['claim-year'] }}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ value }}
                  </dd>
                </div>
                {% endif %}
              {% endfor %}
          </dl>
        </div>
      </div>

      <form action="{{versionPath}}/claim-other-mileage-month-answer" method="post" novalidate>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "claim-other-mileage-month",
        fieldset: {
          legend: {
            text: "Do you want to add another month to this claim?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
