{% extends "layouts/main.html" %}

{% block pageTitle %}
  Journey details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "../../../sign-out",
    oneLoginLink: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/home/account-home",
    serviceNavigationParams: {
      serviceName: "Claim money back from Access to Work",
      serviceUrl: "/index"
    }
  }) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

 <div class="govuk-back-link-and-translation govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Journey details for {{ data['claim-month-tdws-month'] | monthName }} {{ data['claim-month-tdws-year'] }}
      </h1>
      <form action="claim-summary" method="post" novalidate>

      {% for day in range (1, 32) %}
        {% set numberOfWorkJourneys = data['day-' + day] | int(0) %}

        {% if numberOfWorkJourneys > 0  %}
          {% for journey in range(1, numberOfWorkJourneys + 1) %}

          <h2 class="govuk-heading-s"> Monday {{ day }} {{ data['claim-month-tdws-month'] | monthName }} - journey {{ journey }} </h2>

          {{ govukInput({
            label: {
              text: "Journey start postcode"
            },
            classes: "govuk-input--width-10",
            id: "journey-start-postcode-" + day + "-" + journey,
            name: "journey-start-postcode-" + day + "-" + journey,
            value: data['journey-start-postcode-' + day + '-' + journey]
          }) }}

          {{ govukInput({
            label: {
              text: "Journey end postcode"
            },
            classes: "govuk-input--width-10",
            id: "journey-end-postcode-" + day + "-" + journey,
            name: "journey-end-postcode-" + day + "-" + journey,
            value: data["journey-end-postcode-" + day + "-" + journey]
          }) }}

          {{ govukInput({
            label: {
              text: "Total cost of this journey in pounds"
            },
            classes: "govuk-input--width-3",
            id: "journey-cost-" + day + "-" + journey,
            name: "journey-cost-" + day + "-" + journey,
            value: data["journey-cost-" + day + "-" + journey],
            prefix: {
              text: "£"
            },
            spellcheck: false
          }) }}

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          {% endfor %}
        {% endif %}
      {% endfor %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
