{% extends "layouts/main.html" %}

{% block header %}

{{
  dwpHeader({
      serviceName: "John Goldsmith",
      container: true
  })
}}


{{ govukServiceNavigation({
  "serviceName": "Access to Work",
  "serviceUrl": "/index",
  navigation: [
    {
      href: "#",
      text: "Your cases"
    },
    {
      href: "#",
      text: "Search"
    },
    {
      href: "/v1/referrals",
      text: "Referrals",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  Select an address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Select an address
      </h1>

      <p class="govuk-body">6 addresses found for <strong>{{ data['postcode-mhs'] }}</strong> and <strong>{{ data['building-number-mhs'] }}</strong>. <a href="/v1/mental-health-service/find-address" class="govuk-link">Search again</a></p>
      
      <form action="/v1/mental-health-service/confirm-address" method="post" novalidate>

      {{ govukRadios({
        "classes": "govuk-radios--small",
        "name": "addresses-select-mhs",
        "fieldset": {
          "legend": {
            "text": ""
          }
        },
        "items": [
        {
          "value": "123 Imaginary Street, London, AA1 1AA",
          "text": "123 Imaginary Street, London, AA1 1AA"
        },
        {
          "value": "23 Imaginary Street, London, AA1 1AA",
          "text": "23 Imaginary Street, London, AA1 1AA"
        },
        {
          "value": "12 Imaginary Street, London, AA1 1AA",
          "text": "12 Imaginary Street, London, AA1 1AA"
        },
        {
          "value": "1 Imaginary Street, London, AA1 1AA",
          "text": "1 Imaginary Street, London, AA1 1AA"
        },
        {
          "value": "2 Imaginary Street, London, AA1 1AA",
          "text": "2 Imaginary Street, London, AA1 1AA"
        },
        {
          "value": "3 Imaginary Street, London, AA1 1AA",
          "text": "3 Imaginary Street, London, AA1 1AA"
        }
        ]
      }) }}

      {{ govukButton({
        text: "Use this address"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="/v1/mental-health-service/enter-address" class="govuk-link">Enter address manually</a>.
      </p>
          
          

    </div>
  </div>

{% endblock %}
