//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

$govuk-new-typography-scale: true;
$govuk-global-styles: true;

@import "_nhs-card-overrides";


.govuk-header--blue {
  background-color: #1d70b8;
  color: white;
}



.card {
  margin-bottom: 40px;
  background: #F3F2F1;
  border: 1px solid #B1B4B6;
  position: relative;
  width: 100%;
  padding: 25px
}

.card__heading {
  margin-top: 0;
  margin-bottom: 15px
}

.card__description {
  margin-bottom: 0
}

.card--clickable:hover,.card--clickable:active {
  cursor: pointer
}

.card__heading .govuk-link {
  color: #0b0c0c;
}

.card--clickable:hover .card__heading a,.card--clickable:hover .card__link,.card--clickable:active .card__heading a,.card--clickable:active .card__link {
  color: #0b0c0c;
  text-decoration: underline
}

.card--clickable:hover .card__heading a:focus,.card--clickable:hover .card__link:focus,.card--clickable:active .card__heading a:focus,.card--clickable:active .card__link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  text-decoration: none
}

.card--clickable:hover {
  border-color: #b1b4b6
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  padding: 0
}

@media(max-width: 48.0525em) {
  .card-group {
    margin-bottom:30px
  }
}

.card-group__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 0
}

@media(max-width: 48.0525em) {
  .card-group__item {
    flex:0 0 100%
  }
}

.card-group__item .card {
  margin-bottom: 25px
}

@media(max-width: 48.0525em) {
  .card-group__item .card {
    margin-bottom:15px
  }

  .card-group__item:last-child .card {
    margin-bottom: 0
  }
}
    
    
.govuk-template--rebranded {
    background-color: #F3F2F1 !important;
}

.floatRight{
  float: right;
}


.gem-c-related-navigation__main-heading {
  border-top: 2px solid #1d70b8;
  padding-top: 15px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-family: "GDS Transport", arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 1.1875rem;
  line-height: 1.3157894737;
}