//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here

$govuk-new-typography-scale: true;
$govuk-global-styles: true;

@import "_nhs-card-overrides";


.govuk-header--blue {
  background-color: #1d70b8;
  color: white;
}


.atw-key-details-wrapper {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #005ea5;
  padding: 1rem 0;
}

.atw-key-details-details {
  color: white;
}