{% extends "layouts/main.html" %}

{% block header %}

{{
  dwpHeader({
      serviceName: "John Goldsmith",
      container: true
  })
}}


{{ govukServiceNavigation({
  "serviceName": "Access to Work",
  "serviceUrl": "/index",
  navigation: [
    {
      href: "#",
      text: "Your cases"
    },
    {
      href: "#",
      text: "Search"
    },
     {
      href: "referrals",
      text: "Referrals",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype. It is not a real service.'
  }) }}
{% endblock %}

{% block pageTitle %}
  Referrals – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select a type of referral",
            href: "#send-new-referral"
          }
        ]
      }) }}

      <form class="form" action="#" method="post">

        {{ govukRadios({
          name: "send-new-referral",
          value: data['referral-type'],
          fieldset: {
            legend: {
              text: "Send a new referral",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          "hint": {
            "text": "Select the type of referral you want to send"
          },
          items: [
            {
              value: "Workplace Assessment",
              text: "Workplace Assessment"
            },
            {
              value: "Mental health support service (MHSS)",
              text: "Mental health support service (MHSS)"
            }
          ],
          "errorMessage": {
            "text": "Select a type of referral"
          }
        }) }}
        
        {{ govukButton({
          text: "Continue"
        }) }}
        
        </form>

    </div>
  </div>

{% endblock %}