{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Al Ó Catháin",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "../referrals",
              items: [
                   {
                      href: "../../your-cases",
                      text: "Your cases"
                    },
                    {
                      href: "../../unallocated/unallocated-main-page",
                      text: "Unallocated"
                    },
                    {
                      href: "../../all-advisors",
                      text: "All advisors"
                    },
                    {
                      href: "../../search/search",
                      text: "Search"
                    },
                    {
                      href: "../referrals",
                      text: "Referrals"
                    },
                    {
                      href: "../../data-retention/manage-data",
                      text: "Manage data"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Referral type – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{versionPath}}/referral-type-mhs-answer" method="post">

      {{ govukRadios({
        name: "referral-type",
        fieldset: {
          legend: {
            text: "What type of mental health support service referral do you want to send?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Authority referral",
            text: "Authority referral",
            hint: {
              text: "Application allocated to a case manager"
            }
          },
          {
            value: "Self referral",
            text: "Self-referral",
            hint: {
              text: "Application made directly to a provider"
            }
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
