{% extends "layouts/main.html" %}

{% block pageTitle %}
  Add another support worker – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "apply/v1/includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include "apply/v1/includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">You have added 1 support worker</h1>


        {% if data['which-type-support-worker'] == "British Sign Language (BSL) interpreter" %}
        {{ govukTable({
          firstCellIsHeader: true,
          rows: [
            [
              {
                text: "British Sign Language (BSL) interpreter"
              },
              {
                html: "<a href='check-answers-support-worker' class='govuk-link govuk-!-padding-right-5'>Change</a> <a href='remove-support-worker' class='govuk-link'>Remove</a>",
                classes: "govuk-table__cell--numeric govuk-!-width-one-tenth"
              }
            ]
          ]
        }) }}
        {% endif %}

        {% if data['which-type-support-worker'] == "A different type of support worker" %}
        {{ govukTable({
          firstCellIsHeader: true,
          rows: [
            [
              {
                text: data['support-worker-type']
              },
              {
                html: "<a href='check-answers-support-worker' class='govuk-link govuk-!-padding-right-5'>Change</a> <a href='remove-support-worker' class='govuk-link'>Remove</a>",
                classes: "govuk-table__cell--numeric govuk-!-width-one-tenth"
              }
            ]
          ]
        }) }}
        {% endif %}

        <form class="form" action="/another-support-worker-answer" method="post">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          name: "add-another-support-worker",
          fieldset: {
            legend: {
              text: "Do you need to add another support worker?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../../../task-list.html" class="govuk-link">Return to tasks</a>
      </p>
      
    </div>

   {% include "apply/v1/includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include "apply/v1/includes/footer" %}
{% endblock %}