{% extends "layouts/main.html" %}

{% block pageTitle %}
  What type of support worker – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "apply/v1/includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include "apply/v1/includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../support-worker/support-worker-help" method="post">

        {{ govukInput({
          label: {
            text: "What type of support worker do you need?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "For example, 'Note taker'. If you need more than one type of support worker, you can add more later"
          },
          id: "support-worker-type",
          name: "support-worker-type"
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../task-list" class="govuk-link">Return to tasks</a>
      </p>
      

    </div>

   {% include "apply/v1/includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include "apply/v1/includes/footer" %}
{% endblock %}