{% extends "layouts/main.html" %}

{% block pageTitle %}
  Grant summary - specialist equipment – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "sign-out",
    oneLoginLink: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/home/account-home",
    serviceNavigationParams: {
      serviceName: "Claim money back from Access to Work",
      serviceUrl: "/index"
    }
  }) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

<div class="govuk-back-link-and-translation govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Grant summary</h1>

      <p class="govuk-body">This support can be used while you work at Stones R Us.</p>

      <p class="govuk-body">You should have already recieved a copy of your grant approval letter by post.</p>

      <p class="govuk-body">
        If your needs change, you need to <a href="#" class="govuk-link">contact us</a>.
      </p>

      <h2 class="govuk-heading-m">Support from 9 January 2022 to 9 January 2029</h2>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Agreed cost and support"
            },
            value: {
              text: "£3,000.00 - Or cam glasses"
            }
          },
          {
            key: {
              text: "Total cost of support"
            },
            value: {
              text: "£3,000.00"
            }
          },
          {
            key: {
              text: "Total amount you or your employer have agreed to contribute"
            },
            value: {
              text: "£0.00"
            }
          },
          {
            key: {
              text: "Total amount Access to Work will contribute"
            },
            value: {
              text: "£3,000.00"
            }
          },
          {
            key: {
              text: "Amount of grant left"
            },
            value: {
              text: "£3,000.00"
            }
          }
        ]
      }) }}

      <form action="{{versionPath}}/account-home" method="post" novalidate>

        {{ govukButton({
          text: "Return to account home"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
