{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Al Ó Catháin",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "your-cases",
              items: [
                   {
                      href: "your-cases",
                      text: "Your cases"
                    },
                    {
                      href: "#",
                      text: "Unallocated"
                    },
                    {
                      href: "#",
                      text: "All advisors"
                    },
                    {
                      href: "#",
                      text: "Search"
                    },
                    {
                      href: "#",
                      text: "Referrals"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Your cases – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{
        dwpQuickReference({
            ariaLabel: "User information",
            primaryReference: {
                text: 'User name:',
                value: 'Al Ó Catháin'
            },
            secondaryReference: {
                text: 'Your role and permissions:',
                textDisplay: true,
                value: 'Case manager team leader'
            }
        })
}}

      {{ 
      dwpHorizontalNavigation({
            selectedItem: "your-priority-cases",
            items: [
                {
                  text: "Your other cases (2)",
                  href: "../your-cases",
                  id: "your-other-cases"
                },
                {
                  text: "Your priority cases (1)",
                  href: "your-priority-cases",
                  id: "your-priority-cases"
                },
                {
                  text: "Your CSI cases (3)",
                  href: "../csi/your-csi-cases",
                  id: "your-csi-cases"
                },
                {
                  text: "Your documents (1)",
                  href: "../documents/your-documents",
                  id: "your-documents"
                }
            ]
        })
}}

<div class="govuk-tabs__panel">

    {% if data['answers-checked-enter-urn-priority-case']%}
  {% set html %}
  <h3 class="govuk-notification-banner__heading">
    Application copied into DiSC
  </h3>
{% endset %}

{{ govukNotificationBanner({
  html: html,
  type: "success"
}) }}
  {% endif %}

    <h2 class="govuk-heading-m">Your priority cases (1)</h2>

          {{ govukSelect({
            id: "case-type",
            name: "case-type",
            label: {
              text: "Type of case"
            },
            items: [
              {
                value: "any",
                text: "Any"
              },
              {
                value: "priority cases",
                text: "Priority cases"
              },
              {
                value: "CSI cases",
                text: "CSI cases"
              },
              {
                value: "documents",
                text: "Documents"
              },
              {
                value: "job start",
                text: "Job start",
                selected: true
              }
            ]
          }) }}

          {{ govukButton({
            text: "Request a new priority case"
          }) }}

          {{ govukTable({
            caption: "Case details",
            captionClasses: "govuk-table__caption--m",
            head: [
              {
                text: "Name"
              },
              {
                text: "Type of priority case"
              },
              {
                text: "Date submitted"
              }
            ],
            rows: [
              [
                {
                  html: '<a href="user-case" class="govuk-link">Holly Walters</a>'
                },
                {
                  text: "Job start"
                },
                {
                  text: "1 Nov 2025, 3:14pm"
                }
              ]
            ]
          }) }}


    </div>
  </div>
  </div>

{% endblock %}
