{% extends "layouts/main.html" %}

{% block pageTitle %}
  Have you started your job? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include versionPath + "/includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include versionPath + "/includes/before-content" %}
{% endblock %}

{% set companyName  = 'your employer' %}
  
{% if data['company-name'] %}
  {% set companyName = data['company-name'] %}
{% endif %}


{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{versionPath}}/workplace-adjustments/employer-1-post" method="post">

        {{ govukRadios({
          name: "employer-1-adjustments-discussed",
          fieldset: {
            legend: {
              text: "Have you discussed workplace adjustments with " + companyName + "?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        <input type="hidden" name="workplace-adjustments-task-status" value="">

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="{{versionPath}}/task-list" class="govuk-link">Return to tasks</a>
      </p>
      
    </div>

   {% include versionPath + "/includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include versionPath + "/includes/footer" %}
{% endblock %}