{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers self-employed – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "apply/v1/includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include "apply/v1/includes/before-content" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers: {{data['job-title-self-employed-starting-job']}}</h1>

    <h2 class="govuk-heading-m">Employment details</h2>


    {% set summaryRows = [] %}
 
      {% set summaryRows = summaryRows.concat([
        {
          key: { text: "Employment status" },
          value: { text: data['job-status'] },
          actions: {
            items: [
              {
                href: "../../employment-status#job-status",
                text: "Change",
                visuallyHiddenText: "employment status"
              }
            ]
          }
        },
        {
          key: { text: "Job title" },
          value: { text: data['job-title-self-employed-starting-job'] },
          actions: {
            items: [
              {
                href: "../self-employed/job-title#job-title-self-employed-starting-job",
                text: "Change",
                visuallyHiddenText: "job title"
              }
            ]
          }
        },
        {
          key: {
            text: "Job description"
          },
          value: {
            text: data['job-description-self-employed-starting-job']
          },
          actions: {
            items: [
              {
                href: "../self-employed/job-description#job-description-self-employed-starting-job",
                text: "Change",
                visuallyHiddenText: "job description"
              }
            ]
          }
        },
        {
          key: {
            text: "Do you have a Unique Taxpayer Reference (UTR)?"
          },
          value: {
            text: data['have-utr-self-employed-starting-job']
          },
          actions: {
            items: [
              {
                href: "../self-employed/have-utr#have-utr-self-employed-starting-job",
                text: "Change",
                visuallyHiddenText: "have unique taxpayer reference"
              }
            ]
          }
        }
      ]) %}

      
      {% if data['have-utr-self-employed-starting-job'] == "Yes" %}
        {% set summaryRows = summaryRows.concat([
          {
            key: { text: "What is your Unique Taxpayer Reference (UTR)?" },
            value: { text: data['utr-self-employed-starting-job'] },
            actions: {
              items: [
                {
                  href: "../self-employed/utr#utr-self-employed-starting-job",
                  text: "Change",
                  visuallyHiddenText: "unique taxpayer reference"
                }
              ]
            }
          }
        ]) %}
      {% endif %}

      {% set summaryRows = summaryRows.concat([
        {
          key: {
            text: "When will you be starting your self-employment?"
          },
          value: {
            text: data['self-employed-start-date-starting-job-day'] + '/' + data['self-employed-start-date-starting-job-month'] + '/' + data['self-employed-start-date-starting-job-year']
          },
          actions: {
            items: [
              {
                href: "../self-employed/start-date#self-employed-start-date-starting-job-day",
                text: "Change",
                visuallyHiddenText: "start date"
              }
            ]
          }
        },
        {
          key: {
            text: "How many hours will you work per week?"
          },
          value: {
            text: data['work-hours-self-employed-starting-job']
          },
          actions: {
            items: [
              {
                href: "../self-employed/work-hours#work-hours-self-employed-starting-job",
                text: "Change",
                visuallyHiddenText: "work hours"
              }
            ]
          }
        },
        {
          key: {
            text: "Do you know which days of the week you will be working?"
          },
          value: {
            text: data['days-will-work-self-employed-starting-job']
          },
          actions: {
            items: [
              {
                href: "../self-employed/days-will-work#days-will-work-self-employed-starting-job",
                text: "Change",
                visuallyHiddenText: "work days"
              }
            ]
          }
        }
        ]) %}

        
      {% if data['days-will-work-self-employed-starting-job'] == "Yes" %}
        {% set summaryRows = summaryRows.concat([
          {
            key: {
              text: "Which days of the week will you work?"
            },
            value: {
              text: data['work-days-self-employed-starting-job']
            },
            actions: {
              items: [
                {
                  href: "../self-employed/work-days#work-days-self-employed-starting-job",
                  text: "Change",
                  visuallyHiddenText: "work days"
                }
              ]
            }
          }
        ]) %}
      {% endif %}

      
      {% if data['job-address-select-self-employed-starting-job'] %}
        {% set summaryRows = summaryRows.concat([
          {
            key: {
              text: "Workplace address"
            },
            value: {
              text: data['job-address-select-self-employed-starting-job'] + ',' + ' ' + data['postcode-job-address-self-employed-starting-job']
            },
            actions: {
              items: [
                {
                  href: "../self-employed/job-address#postcode-job-address-self-employed-starting-job",
                  text: "Change",
                  visuallyHiddenText: "employment address"
                }
              ]
            }
          }
        ]) %}
      {% endif %}

      
      {% if data['showAddressRowSelfEmployed'] %}
        {% set summaryRows = summaryRows.concat([
          {
            key: {
              text: "Workplace address"
            },
            value: {
              text: "I do not know my workplace address"
            },
            actions: {
              items: [
                {
                  href: "../registered-director/job-address#postcode-job-address-registered-director-starting-job",
                  text: "Change",
                  visuallyHiddenText: "employment address"
                }
              ]
            }
          }
        ]) %}
      {% endif %}


 
{{ govukSummaryList({ rows: summaryRows }) }}

    <form action="{{versionPath}}/add-job-starting-job-self-employed" method="post" novalidate>

      <input type="hidden" name="answers-checked-self-employed-details-starting-job" value="true">

      {{ govukButton({
        text: "Confirm and save"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="../../../task-list" class="govuk-link">Return to tasks</a>
    </p>
    

  </div>

    {% include "apply/v1/includes/get-help" %}
      </div>

{% endblock %}

{% block footer %}
{% include "apply/v1/includes/footer" %}
{% endblock %}