{% extends "layouts/main.html" %}

{% block pageTitle %}
  What will your job description be? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "apply/v1/includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include "apply/v1/includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../self-employed/have-utr" method="post">

        {{ govukCharacterCount({
          name: "job-description-self-employed-starting-job",
          maxlength: 500,
          label: {
            text: "What will your job description be?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            html: "<p>You can include:</p> <ul><li>skills</li><li>responsibilities</li><li>day-to-day activities</li></ul>"
          }
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../../../task-list" class="govuk-link">Return to tasks</a>
      </p>
      
    </div>

   {% include "apply/v1/includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include "apply/v1/includes/footer" %}
{% endblock %}