{% extends "layouts/main.html" %}

{% block pageTitle %}
  Have you started your job? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include versionPath + "/includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include versionPath + "/includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{versionPath}}/started-job-answer" method="post">

        {{ govukRadios({
          name: "job-start",
          fieldset: {
            legend: {
              text: "Have you started your job?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you have more than one job, you can add another later on"
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No, but I am about to start",
              text: "No, but I am about to start"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../task-list" class="govuk-link">Return to tasks</a>
      </p>
      
    </div>

   {% include versionPath + "/includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include versionPath + "/includes/footer" %}
{% endblock %}