{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Al Ó Catháin",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "../referrals",
              items: [
                   {
                      href: "../../your-cases",
                      text: "Your cases"
                    },
                    {
                      href: "../../unallocated/unallocated-main-page",
                      text: "Unallocated"
                    },
                    {
                      href: "../../all-advisors",
                      text: "All advisors"
                    },
                    {
                      href: "../../search/search",
                      text: "Search"
                    },
                    {
                      href: "../referrals",
                      text: "Referrals"
                    },
                    {
                      href: "../../data-retention/manage-data",
                      text: "Manage data"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Provider details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Provider details
      </h1>

      <p class="govuk-body"> {{ data['first-name'] }} {{ data['last-name'] }}'s National Insurance number is <strong>{{ data['ni-number'] }}</strong>.</p>

      {{ govukDetails({
        summaryText: "What is the National Insurance number split?",
        html: "Applicants are referred to providers based on the last 2 digits of their National Insurance number:
        <ul>
          <li>00 - 49 refer to Reed In Partnership</li>
          <li>50 - 99 refer to Maximus</li>
        </ul>"
      }) }}

      <form action="../workplace-assessment/check-answers" method="post" novalidate>

{{ govukRadios({
  "name": "provider",
  "fieldset": {
    "legend": {
      "text": "Select a provider, code and office to send the referral to",
      "classes": "govuk-fieldset__legend--m"
    }
  },
  "items": [
    {
      "value": "Reed In Partnership, HLF/2183, Halifax Crossfield House",
      "text": "Reed In Partnership, HLF/2183, Halifax Crossfield House"
    },
    {
      "value": "Maximus, HLF/2184, Halifax Crossfield House",
      "text": "Maximus, HLF/2184, Halifax Crossfield House"
    },
    {
      "value": "Reed In Partnership, HKH/19414, Harrow Kings House",
      "text": "Reed In Partnership, HKH/19414, Harrow Kings House"
    },
    {
      "value": "Maximus, HKH/19415, Harrow Kings House",
      "text": "Maximus, HKH/19415, Harrow Kings House"
    }
  ]
}) }}
                                    

      {{ govukButton({
        text: "Continue"
      }) }}
          
      </form>

    </div>
  </div>

{% endblock %}
