{% extends "layouts/main.html" %}

{% block pageTitle %}
  Vehicle changes – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "apply/v1/includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include "apply/v1/includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/vehicle-changes-answer" method="post">

      {{ govukRadios({
        name: "vehicle-changes",
        fieldset: {
          legend: {
            text: "Does your condition mean that you would benefit from physical changes at your workplace?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Access to Work can help to pay for adaptations to your vehicle to make driving or travelling easier"
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          },
          {
            value: "dont know",
            text: "I don't know"
          }
        ]
      }) }}

      <input type="hidden" name="answers-checked-vehicle-changes" value="true">

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../task-list" class="govuk-link">Return to tasks</a>
      </p>
      

    </div>

   {% include "apply/v1/includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include "apply/v1/includes/footer" %}
{% endblock %}