{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which email address to contact you? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include versionPath + "//includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include versionPath + "//includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../contact/best-times" method="post">

        {{ govukInput({
          "label": {
            "text": "What email address should we use to contact you?",
            "classes": "govuk-label--l",
            "isPageHeading": true
          },
          "classes": "govuk-!-width-two-thirds",
          "name": "email-address"
        }) }}
                   

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../task-list" class="govuk-link">Return to tasks</a>
      </p>
      

    </div>

   {% include versionPath + "//includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include versionPath + "//includes/footer" %}
{% endblock %}