{% extends "layouts/main.html" %}

{% block pageTitle %}
  What you'll need – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "../../../sign-out",
    oneLoginLink: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/home/account-home",
    serviceNavigationParams: {
      serviceName: "Claim money back from Access to Work",
      serviceUrl: "/index"
    }
  }) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

 <div class="govuk-back-link-and-translation govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="employment-status" method="post" novalidate>

      <h1 class="govuk-heading-l">
        {{ data['payee-full-name-claim'] }}'s bank or building society account details
      </h1>

      {{ govukInput({
          label: {
            text: "Name on the account"
          },
          id: "name-on-account",
          name: "name-on-account"
        }) }}

        {{ govukInput({
          label: {
            text: "Sort code"
          },
          hint: {
            text: "Must be 6 digits long"
          },
          classes: "govuk-input--width-10",
          id: "sort-code",
          name: "sort-code"
        }) }}

        {{ govukInput({
          label: {
            text: "Account number"
          },
          hint: {
            text: "Must be between 6 and 8 digits long"
          },
          classes: "govuk-!-width-one-half",
          id: "account-number",
          name: "account-number"
        }) }}

        {{ govukInput({
          label: {
            text: "Building society roll number (if there is one)"
          },
          hint: {
            text: "You can find it on the card, statement or passbook"
          },
          classes: "govuk-!-width-one-half",
          id: "roll-number",
          name: "roll-number"
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
