{% extends "layouts/main.html" %}

{% block header %}

{{
  dwpHeader({
      serviceName: "John Goldsmith",
      container: true
  })
}}


{{ govukServiceNavigation({
  "serviceName": "Access to Work",
  "serviceUrl": "/index",
  navigation: [
    {
      href: "#",
      text: "Your cases"
    },
    {
      href: "#",
      text: "Search"
    },
     {
      href: "../referrals",
      text: "Referrals",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  No address found – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        No address found
      </h1>

      <p class="govuk-body">We could not find an address that matches <strong>{{ data['postcode-mhs'] }}</strong> and <strong>{{ data['building-number-mhs'] }}</strong>. You can search again or enter the address manually.</p>

      <p class="govuk-body">
        <a href="../mental-health-service/find-address" class="govuk-link">Search again</a>
      </p>

      <p class="govuk-body">
        <a href="../mental-health-service/enter-address" class="govuk-link">Enter address manually</a>.
      </p>
          
    </div>
  </div>

{% endblock %}
