{% extends "layouts/main.html" %}

{% block pageTitle %}
  View recent claims – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% extends "di-govuk-one-login-service-header/layouts/service-header.html" %}

{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "../sign-out",
    oneLoginLink: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/home/account-home",
    serviceNavigationParams: {
      serviceName: "Claim money back from Access to Work",
      serviceUrl: "/index"
    }
  }) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

<div class="govuk-back-link-and-translation">




  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../account-home"
    },
    {
      text: "Claims history type",
      href: ""
    }
  ]
}) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form action="../multiple-claims-history" method="post" class="form">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="travel-to-work-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Which payments do you want to view?
                        </h1>
                    </legend>


                    <p>Because you have more than one type of support, you can view payments for each seperately.</p>


                    <div class="govuk-radios">
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="traveltowork" name="journey-type"
                                   type="radio"
                                   value="traveltowork">

                            <label class="govuk-label govuk-radios__label" for="traveltowork">
                                Travel to or from work
                            </label>
                        </div>


                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="supportworker" name="journey-type"
                                   type="radio"
                                   value="supportworker">
                            <label class="govuk-label govuk-radios__label" for="supportworker">
                              Support worker
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>



              <input type="hidden" name="multiple-awards" value="true">
            <button type="submit" class="govuk-button" data-module="govuk-button">
                Continue
            </button>

        </form>
    </div>
</div>


{% include "claims/v2/includes/get-help" %}
{% endblock %}
