{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Louise Patrick",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "manage-data",
              items: [
                   {
                      href: "#",
                      text: "Your cases"
                    },
                    {
                      href: "#",
                      text: "Unallocated"
                    },
                    {
                      href: "#",
                      text: "All advisors"
                    },
                    {
                      href: "search",
                      text: "Search"
                    },
                    {
                      href: "../v2/referrals",
                      text: "Referrals"
                    },
                    {
                      href: "manage-data",
                      text: "Manage data"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype. It is not a real service.'
  }) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block pageTitle %}
  Investigation status – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Reset the deletion of data for John Adams
      </h1>

       <h2 class="govuk-heading-m">
        Cases
      </h2>

      {{ govukTable({
        firstCellIsHeader: true,
        head: [
          {
            text: "Case type"
          },
          {
            text: "Updated deletion date"
          }
        ],
        rows: [
          [
            {
              text: "ATW applications"
            },
            {
              text: "10 October 2027"
            }
          ],
        [
            {
              text: "Renewals"
            },
            {
              text: "10 October 2027"
            }
          ],
        [
            {
              text: "ATW claims"
            },
            {
              text: "10 October 2032"
            }
          ],
        [
            {
              text: "Digital claims"
            },
            {
              text: "10 October 2027"
            }
          ],
        [
            {
              text: "CSI applications"
            },
            {
              text: "10 October 2027"
            }
          ],
        [
            {
              text: "CSI claims"
            },
            {
              text: "10 October 2027"
            }
          ]
        ]
      }) }}

      <form class="form" action="/investigation-status-answer" method="post" novalidate>
  
        {{ govukRadios({
          name: "investigation-status",
          fieldset: {
            legend: {
              text: "Is the investigation of John Adams' data complete?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "If you reset data deletion, John Adams' data will be permantently deleted on the date stated"
          },
          items: [
            {
              value: "Yes",
              text: "Yes it's complete, reset data deletion"
            },
            {
              value: "No",
              text: "No, it's still being investigated"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      </div>
    </div>

{% endblock %}