{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "sign-out",
    oneLoginLink: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/home/account-home",
    serviceNavigationParams: {
      serviceName: "Claim money back from Access to Work",
      serviceUrl: "/index"
    }
  }) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

 <div class="govuk-back-link-and-translation govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="../declaration" method="post" novalidate>

      <h1 class="govuk-heading-l">Check your answers</h1>

        {{ govukSummaryList({
          card: {
            title: {
              text: "Claim information"
            }
          },
          rows: [
            {
              key: {
                text: "Specialist equipment"
              },
              value: {
                html: data['se-invoice-date-day'] + " " + data['se-invoice-date-month'] | monthName + " " + data['se-invoice-date-year'] + " - <br>" + data['specialist-equipment-name']
              },
              actions: {
                items: [
                  {
                    href: "your-specialist-equipment",
                    text: "Change",
                    visuallyHiddenText: "specialist equipment"
                  }
                ]
              }
            },
            {
              key: {
                text: "Cost of equipment"
              },
              value: {
                text: data['specialist-equipment-cost'] | currency
              },
              actions: {
                items: [
                  {
                    href: "specialist-equipment-cost",
                    text: "Change",
                    visuallyHiddenText: "specialist equipment cost"
                  }
                ]
              }
            },
            {
              key: {
                text: "Receipts or invoices uploaded"
              },
              value: {
                text: "filename.png"
              },
              actions: {
                items: [
                  {
                    href: "uploaded",
                    text: "Change",
                    visuallyHiddenText: "file uploaded"
                  }
                ]
              }
            }
          ]
        }) }}



        {{ govukSummaryList({
          card: {
            title: {
              text: "Details of new person or company being paid"
            }
          },
          rows: [
            {
              key: {
                text: "Name"
              },
              value: {
                text: data['payee-full-name-claim-specialist-equipment']
              },
              actions: {
                items: [
                  {
                    href: "who-to-pay",
                    text: "Change",
                    visuallyHiddenText: "payee name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Email address"
              },
              value: {
                text: data['payee-email-address-specialist-equipment-claim']
              },
              actions: {
                items: [
                  {
                    href: "who-to-pay",
                    text: "Change",
                    visuallyHiddenText: "payee email address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Address"
              },
              value: {
                text: data['address-select-claims-specialist-equipment'] + " ," + data['payee-postcode-specialist-equipment']
              },
              actions: {
                items: [
                  {
                    href: "payee-postcode",
                    text: "Change",
                    visuallyHiddenText: "payee address"
                  }
                ]
              }
            },
            {
              key: {
                text: "Name on bank account"
              },
              value: {
                text: data['name-on-account-specialist-equipment']
              },
              actions: {
                items: [
                  {
                    href: "payment-details",
                    text: "Change",
                    visuallyHiddenText: "name on bank account"
                  }
                ]
              }
            },
            {
              key: {
                text: "Sort code"
              },
              value: {
                text: data['sort-code-specialist-equipment']
              },
              actions: {
                items: [
                  {
                    href: "payment-details",
                    text: "Change",
                    visuallyHiddenText: "sort code"
                  }
                ]
              }
            },
            {
              key: {
                text: "Account number"
              },
              value: {
                text: data['account-number-specialist-equipment']
              },
              actions: {
                items: [
                  {
                    href: "payment-details",
                    text: "Change",
                    visuallyHiddenText: "account number"
                  }
                ]
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
