{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "John Goldsmith",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "../referrals",
              items: [
                  {
                      href: "#",
                      text: "Your cases"
                  },
                  {
                      href: "search",
                      text: "Search"
                  },
                  {
                      href: "../referrals",
                      text: "Referrals"
                  }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Find an address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Enter postcode",
            href: "#postcode"
          },
          {
            text: "Enter building number or name",
            href: "#building-number"
          }
        ]
      }) }}

      <h1 class="govuk-heading-l">
        Find an address
      </h1>

      <form action="/v1/workplace-assessment/select-address" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        "hint": {
          "text": "For example, AA3 1AB"
        },
        name: "postcode",
        "classes": "govuk-input--width-5",
        errorMessage: {
          text: "Enter postcode"
        }
      }) }}

      {{ govukInput({
        label: {
          text: "Building number or name"
        },
        "hint": {
          "text": "For example, 15 or Prospect Cottage"
        },
        name: "building-number",
        errorMessage: {
          text: "Enter building number or name"
        }
      }) }}

      {{ govukButton({
        text: "Find address"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../v1/workplace-assessment/enter-address" class="govuk-link">Enter address manually</a>.
      </p>
          

    </div>
  </div>

{% endblock %}
