{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Al Ó Catháin",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "your-cases",
              items: [
                   {
                      href: "your-cases",
                      text: "Your cases"
                    },
                    {
                      href: "#",
                      text: "Unallocated"
                    },
                    {
                      href: "all-advisors",
                      text: "All advisors"
                    },
                    {
                      href: "#",
                      text: "Search"
                    },
                    {
                      href: "#",
                      text: "Referrals"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Your cases – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{
        dwpQuickReference({
            ariaLabel: "User information",
            primaryReference: {
                text: 'User name:',
                value: 'Al Ó Catháin'
            },
            secondaryReference: {
                text: 'Your role and permissions:',
                textDisplay: true,
                value: 'Case manager team leader'
            }
        })
}}

      {{ 
      dwpHorizontalNavigation({
            selectedItem: "your-csi-cases",
            items: [
                {
                  text: "Your other cases (0)",
                  href: "your-other-cases",
                  id: "your-other-cases"
                },
                {
                  text: "Your priority cases (0)",
                  href: "your-priority-cases",
                  id: "your-priority-cases"
                },
                {
                  text: "Your CSI cases (3)",
                  href: "your-csi-cases",
                  id: "your-csi-cases"
                },
                {
                  text: "Your documents (0)",
                  href: "your-documents",
                  id: "your-documents"
                }
            ]
        })
}}

<div class="govuk-tabs__panel">
    <h2 class="govuk-heading-m">Your CSI cases (3)</h2>

          {{ govukButton({
            text: "Request a new CSI case"
          }) }}

          {{ govukTable({
            caption: "Case details",
            captionClasses: "govuk-table__caption--m",
            head: [
              {
                text: "Name"
              },
              {
                text: "Interview date"
              },
              {
                text: "Date submitted"
              },
              {
                text: "Status"
              }
            ],
            rows: [
              [
                {
                  html: '<a href="user-case" class="govuk-link">Brian Brobbey</a>'
                },
                {
                  text: "1 November 2025"
                },
                {
                  text: "1 Nov 2025, 3:14pm"
                },
                {
                  text: "New"
                }
              ],
              [
                {
                  html: '<a href="#" class="govuk-link">Chemsdine Talbi</a>'
                },
                {
                  text: "10 November 2025"
                },
                {
                  text: "10 Nov 2025, 9:24am"
                },
                {
                  text: "New"
                }
              ],
              [
                {
                  html: '<a href="#" class="govuk-link">Lucy Ballard</a>'
                },
                {
                  text: "17 November 2025"
                },
                {
                  text: "17 Nov 2025, 12:13pm"
                },
                {
                  text: "New"
                }
              ]
            ]
          }) }}

    </div>
  </div>
  </div>

{% endblock %}
