{% extends "layouts/main.html" %}

{% set userName = "John Smith" if data['atwis-user-type'] == 'team-leader' else "Jane Doe"%}
{% set userRole = "Service centre team leader" if data['atwis-user-type'] == 'team-leader' else "Service centre agent" %} 

{% block header %}
{% if data['atwis-user-type'] == "team-leader" %}

{{
    dwpHeader({
        serviceName: "Access to Work",
        serviceHref: '/index',
        action: userName,
        actionHref: "#",
        container: true,
        navigation: {
          selectedItem: "../your-cases",
          items: [
                {
                  href: "../your-cases",
                  text: "Your cases"
                },
                {
                  href: "../unallocated/unallocated-main-page",
                  text: "Unallocated"
                },
                {
                  href: "../all-advisors",
                  text: "All advisors"
                },
                {
                  href: "../search/search",
                  text: "Search"
                },
                {
                  href: "../referrals/referrals",
                  text: "Referrals"
                }
          ]
      }  
    })
}}

{% else %}
{{
    dwpHeader({
        serviceName: "Access to Work",
        serviceHref: '/index',
        action: userName,
        actionHref: "#",
        container: true,
        navigation: {
          selectedItem: "../your-cases",
          items: [
                {
                  href: "../your-cases",
                  text: "Your cases"
                },
                {
                  href: "../search/search",
                  text: "Search"
                }
          ]
      }  
    })
}}

{% endif %}
{% endblock %}


{% block pageTitle %}
  Renewal case – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

{% import versionPath + "/includes/key-details.njk" as keyDetails %}


{{ keyDetails.keyDetails({
  name: "Gary Boyd",
  nino: "AB123456C",
  urn: "6195739165"
})}}



{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Documents scanned on 6 February 2026</h2>
      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m">Document details</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Document type</th>
            <th scope="col" class="govuk-table__header">Form reference</th>
            <th scope="col" class="govuk-table__header">Document ID</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Change bank details</td>
            <td class="govuk-table__cell">AF572IP</td>
            <td class="govuk-table__cell"><a href="#">View b6af3cf0-31c1-4f6e-837d-9789731208d5</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Support Worker (multiple)</td>
            <td class="govuk-table__cell">HQ055PJ</td>
            <td class="govuk-table__cell"><a href="#">View 6cfdb7a0-f2ec-4c43-a6d7-e59fa075841a</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Travel in work</td>
            <td class="govuk-table__cell">Whitemail</td>
            <td class="govuk-table__cell"><a href="#">View cda34687-7ddd-4e9f-a995-a022a2503f82</td>
          </tr>
        </tbody>
      </table>

      <h3 class="govuk-heading-m">DRS envelope ID</h3>
      <p class="govuk-body">Use the envelope ID to find these documents on DRS.</p>
      <p class="govuk-body govuk-!-margin-bottom-5">Envelope ID: 20260223983272208457</p>


<p class="govuk-body"><a href="{{versionPath}}/search/find-a-case" class="govuk-link">Back to search</a></p>

      </div>
      <div class="govuk-grid-column-one-third">
      <form action="envelope-allocated1">
          {% if userRole == "Service centre team leader" %} 
            {{ govukSelect({
              id: "allocate-document",
              name: "allocate-document",
              value: data['allocate-document'],
              label: {
                html: '<h2 class="govuk-heading-m">Who do you want to allocate this to?</h2>'
              },
              items: [
              {
                  value: "blank",
                  text: "",
                  selected: true
                },
                {
                  value: "John Doe",
                  text: "John Doe"
                },
                {
                  value: "Susan Quantas",
                  text: "Susan Quantas"
                },
                {
                  value: "Savannah Eastwood",
                  text: "Savannah Eastwood"
                },
                {
                  value: "David Connolly",
                  text: "David Connolly"
                },
                {
                  value: "Sophia Wanless",
                  text: "Sophia Wanless"
                }
              ]
            }) }}
            {{ govukButton({
              text: "Allocate",
              href: ""
            }) }}
          {% else %}
          {% endif %}
          </form>


        {{ govukSelect({
          id: "update-status",
          name: "update-status",
          label: {
            html: '<h2 class="govuk-heading-m">Update status</h2>'
          },
          items: [
          {
              value: "blank",
              text: "",
              selected: true
            },
            {
              value: "not started",
              text: "Not started"
            },
            {
              value: "in progress",
              text: "In progress"
            },
            {
              value: "completed",
              text: "Completed"
            }
          ]
        }) }}

      <form action="end-date" method="post" novalidate>

      {{ govukButton({
        text: "Update"
      }) }}

      </form>
    </div>   
  </div>
</div>
{% endblock %}
