{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Al Ó Catháin",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "../../your-cases",
              items: [
                   {
                      href: "../../your-cases",
                      text: "Your cases"
                    },
                    {
                      href: "../../unallocated/unallocated-main-page",
                      text: "Unallocated"
                    },
                    {
                      href: "../../all-advisors",
                      text: "All advisors"
                    },
                    {
                      href: "../../search/search",
                      text: "Search"
                    },
                    {
                      href: "../../referrals/referrals",
                      text: "Referrals"
                    },
                    {
                      href: "../../data-retention/manage-data",
                      text: "Manage data"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Check and approve payment details – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

<style>
.full-width-wrapper {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #005ea5;
  padding: 1rem 0;
}

.dwp-quick-reference--alternative {
  background-color: transparent;
}
</style>

<div class="full-width-wrapper">
  <div class="govuk-width-container">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="color:white !important;">
          Alan Ferguson
        </h1>
      </div>

      <div class="govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-margin-bottom-0" style="color:white !important;">Advisor</p>
        <h2 class="govuk-heading-m govuk-!-margin-top-0" style="color:white !important;">John Doe</h2>

        <p class="govuk-body govuk-!-margin-bottom-0" style="color:white !important;">Specialism</p>
        <h2 class="govuk-heading-m govuk-!-margin-top-0" style="color:white !important;">CSI</h2>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h3 class="govuk-heading-l">Check and approve payment details</h3>

      <p class="govuk-body">Check the details before you approve the payment request.</p>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Invoice reference"
            },
            value: {
              text: "12345"
            }
          },
          {
            key: {
              text: "Invoice date"
            },
            value: {
              text: "6 January 2026"
            }
          },
          {
            key: {
              text: "Payee postcode"
            },
            value: {
              text: "AB1 2CD"
            }
          },
          {
            key: {
              text: "Payment amount"
            },
            value: {
              html: "£100.00"
            }
          },
          {
            key: {
              text: "SOP supplier number"
            },
            value: {
              text: "1234567"
            }
          }
        ]
      }) }}

      <form action="/approve-payment-answer" method="post" novalidate>

      {{ govukRadios({
              classes: "govuk-radios--inline",
              name: "approve-payment",
              fieldset: {
                legend: {
                  text: "Do you want to approve the payment?",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

        <p class="govuk-body"><a href="../user-case" class="govuk-link">Return to tasks</a></p>
     
  </div>
  </div>
{% endblock %}
