{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Al Ó Catháin",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "../../search",
              items: [
                   {
                      href: "../../../your-cases",
                      text: "Your cases"
                    },
                    {
                      href: "../../../unallocated/unallocated-main-page",
                      text: "Unallocated"
                    },
                    {
                      href: "../../../all-advisors",
                      text: "All advisors"
                    },
                    {
                      href: "../../search",
                      text: "Search"
                    },
                    {
                      href: "../../../referrals/referrals",
                      text: "Referrals"
                    },
                    {
                      href: "../../../data-retention/manage-data",
                      text: "Manage data"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Allocate case to payment officer – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

<style>
.full-width-wrapper {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #005ea5;
  padding: 1rem 0;
}

.dwp-quick-reference--alternative {
  background-color: transparent;
}
</style>

<div class="full-width-wrapper">
  <div class="govuk-width-container">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="color:white !important;">
          Alan Ferguson
        </h1>
      </div>

      <div class="govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-margin-bottom-0" style="color:white !important;">Advisor</p>
        <h2 class="govuk-heading-m govuk-!-margin-top-0" style="color:white !important;">John Doe</h2>

        <p class="govuk-body govuk-!-margin-bottom-0" style="color:white !important;">Specialism</p>
        <h2 class="govuk-heading-m govuk-!-margin-top-0" style="color:white !important;">CSI</h2>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h3 class="govuk-heading-l">Allocate the case to a payment officer</h3>

      {{
        dwpTimeline({ 
            items: [
                {
                    title:  "Application allocated",
                    byline:  "John Doe",
                    description: {
                        text: "John Goldsmith to John Doe"
                    },
                    date:  "26 April 2025 at 12:42pm"
                },
                {
                    title:  "Application allocated",
                    byline:  "John Doe",
                    description: {
                        text: "John Goldsmith to John Doe"
                    },
                    date:  "26 April 2025 at 12:42pm"
                },
                 {
                    title:  "Application allocated",
                    byline:  "John Doe",
                    description: {
                        text: "John Goldsmith to John Doe"
                    },
                    date:  "26 April 2025 at 12:42pm"
                },
               {
                    title:  "Application allocated",
                    byline:  "John Doe",
                    description: {
                        text: "John Goldsmith to John Doe"
                    },
                    date:  "26 April 2025 at 12:42pm"
                }
        ]
        })
}}

<h4 class="govuk-heading-m">Which payment officer do you want to allocate the case to?</h4>

{{ govukSelect({
  id: "update-payment-officer",
  name: "update-payment-officer",
  label: {
    text: "Leave blank to unallocate the case"
  },
  items: [
  {
      value: "blank",
      text: "",
      selected: true
    },
    {
      value: "name-1",
      text: "John Doe"
    },
    {
      value: "name-2",
      text: "Susan Quantas"
    },
    {
      value: "name-3",
      text: "Savannah Eastwood"
    },
    {
      value: "name-4",
      text: "David Connolly"
    },
    {
      value: "name-5",
      text: "Sophia Wanless"
    }
  ]
}) }}

        <form class="form" action="user-case" method="post">

        {{ govukButton({
          text: "Allocate"
        }) }}

        </form>

        <p class="govuk-body"><a href="user-case" class="govuk-link">Return to tasks</a></p>
     
  </div>
  </div>
{% endblock %}
