{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Al Ó Catháin",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "../../search",
              items: [
                   {
                      href: "../../../your-cases",
                      text: "Your cases"
                    },
                    {
                      href: "../../../unallocated/unallocated-main-page",
                      text: "Unallocated"
                    },
                    {
                      href: "../../../all-advisors",
                      text: "All advisors"
                    },
                    {
                      href: "../../search",
                      text: "Search"
                    },
                    {
                      href: "../../../referrals/referrals",
                      text: "Referrals"
                    },
                    {
                      href: "../../../data-retention/manage-data",
                      text: "Manage data"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Check the invoice suppport cost – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

<style>
.full-width-wrapper {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #005ea5;
  padding: 1rem 0;
}

.dwp-quick-reference--alternative {
  background-color: transparent;
}
</style>

<div class="full-width-wrapper">
  <div class="govuk-width-container">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l" style="color:white !important;">
          Alan Ferguson
        </h1>
      </div>

      <div class="govuk-grid-column-one-third">
        <p class="govuk-body govuk-!-margin-bottom-0" style="color:white !important;">Advisor</p>
        <h2 class="govuk-heading-m govuk-!-margin-top-0" style="color:white !important;">John Doe</h2>

        <p class="govuk-body govuk-!-margin-bottom-0" style="color:white !important;">Specialism</p>
        <h2 class="govuk-heading-m govuk-!-margin-top-0" style="color:white !important;">CSI</h2>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h3 class="govuk-heading-l">Check the invoice support cost</h3>

      {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Condition"
      },
      value: {
        text: "Deaf"
      }
    },
    {
      key: {
        text: "Interview length"
      },
      value: {
        text: "1 hour"
      }
    },
    {
      key: {
        text: "Support cost on invoice"
      },
      value: {
        text: "£300.00 (£200.00 more than the quote)"
      }
    }
  ]
}) }}

{% set html %}
  <p class="govuk-notification-banner__heading">
    Information from payment officer.
  </p>
  <p class="govuk-body">The amount is too high, please resolve.</p>
{% endset %}

{{ govukNotificationBanner({
  titleHtml: '<span class="govuk-visually-hidden">Important</span>',
  html: html
}) }}


        <form class="form" action="/is-cost-reasonable-answer" method="post">

          {% set yesHtml %}
            {{ govukTextarea({
              id: "approval-reason",
              name: "approval-reason",
              label: {
                text: "Reason for approval"
              }
            }) }}
            {% endset -%}

            {{ govukRadios({
              name: "is-cost-reasonable",
              fieldset: {
                legend: {
                  text: "Is the cost reasonable?",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes",
                  conditional: {
                    html: yesHtml
                  }
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        </form>

        <p class="govuk-body"><a href="user-case" class="govuk-link">Return to tasks</a></p>
     
  </div>
  </div>
{% endblock %}
