{% extends "layouts/main.html" %}

{% block pageTitle %}
  Specialist equipment needs – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "apply/v1/includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include "apply/v1/includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/know-specialist-equipment-answer" method="post">

        {{ govukRadios({
          name: "know-specialist-equipment",
          fieldset: {
            legend: {
              text: "Do you know what specialist equipment you need from Access to Work?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "If you do not know, we can help to find the right options for you."
          },
          items: [
            {
              value: "Yes",
              text: "Yes, I know what I need"
            },
            {
              value: "No",
              text: "No, I do not know what I need"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../task-list" class="govuk-link">Return to tasks</a>
      </p>
      

    </div>

   {% include "apply/v1/includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include "apply/v1/includes/footer" %}
{% endblock %}