{% extends "layouts/main.html" %}

{% block header %}

{{
  dwpHeader({
      serviceName: "John Goldsmith",
      container: true
  })
}}


{{ govukServiceNavigation({
  "serviceName": "Access to Work",
  "serviceUrl": "/index",
  navigation: [
    {
      href: "#",
      text: "Your cases"
    },
    {
      href: "#",
      text: "Search"
    },
     {
      href: "../referrals",
      text: "Referrals",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  Provider details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Select a provider, code and office",
            href: "#provider-mhs"
          }
        ]
      }) }}

      <form action="#" method="post" novalidate>

        {{ govukRadios({
          name: "provider-mhs",
          fieldset: {
            legend: {
              text: "Provider details",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            "text": "Select a provider, code and office to send the referral to."
          },
          items: [
            {
              value: "Maximus, HKH/19423, Harrow Kings House",
              text: "Maximus, HKH/19423, Harrow Kings House"
            },
            {
              value: "Ingeus, HKH/19425, Harrow Kings House",
              text: "Ingeus, HKH/19425, Harrow Kings House"
            },
            {
              value: "Maximus, HLF/2192, Halifax Crossfield House",
              text: "Maximus, HLF/2192, Halifax Crossfield House"
            },
            {
              value: "Ingeus, HLF/2194, Halifax Crossfield House",
              text: "Ingeus, HLF/2194, Halifax Crossfield House"
            }
          ],
          "errorMessage": {
            "text": "Select a provider, code and office"
          }
        }) }}
                                    

      {{ govukButton({
        text: "Continue"
      }) }}
          
      </form>

    </div>
  </div>

{% endblock %}
