{% extends "layouts/main.html" %}

{% block pageTitle %}
  Your vehicle adaptation – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "../../sign-out",
    oneLoginLink: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/home/account-home",
    serviceNavigationParams: {
      serviceName: "Claim money back from Access to Work",
      serviceUrl: "/index"
    }
  }) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

 <div class="govuk-back-link-and-translation govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="claims-summary" method="post" novalidate>

      <h1 class="govuk-heading-l">
        Your vehicle adaptation
      </h1>
      <p class="govuk-body">Give the details of one adaptation. You will have the option to add more.</p>

      {{ govukInput({
        label: {
          text: "Name or description of the adaptation",
          classes: "govuk-label--s"
        },
        id: "adaptation-name",
        name: "adaptation-name",
        value: data['adaptation-name']
      }) }}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" role="group" aria-describedby="vehicle-adaptation-hint">
          <legend class="govuk-fieldset__legend govuk-!-font-weight-bold">
            Invoice date for this adaptation
          </legend>
          <div id="vehicle-adaptation-hint" class="govuk-hint">
            For example, 21 5 2021
          </div>
          <div class="govuk-date-input" id="vehicle-adaptation">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="vehicle-adaptation-day">
                  Day
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="vehicle-adaptation-day" name="vehicle-adaptation-day" value="{{ data['vehicle-adaptation-day'] }}" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="vehicle-adaptation-month">
                  Month
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="vehicle-adaptation-month" name="vehicle-adaptation-month" value="{{ data['vehicle-adaptation-month'] }}" type="text" inputmode="numeric">
              </div>
            </div>
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="vehicle-adaptation-year">
                  Year
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="vehicle-adaptation-year" name="vehicle-adaptation-year" value="{{ data['vehicle-adaptation-year'] }}" type="text" inputmode="numeric">
              </div>
            </div>
          </div>
        </fieldset>
      </div>


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
