{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Al Ó Catháin",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "../../referrals",
              items: [
                   {
                      href: "../../../your-cases",
                      text: "Your cases"
                    },
                    {
                      href: "../../../unallocated/unallocated-main-page",
                      text: "Unallocated"
                    },
                    {
                      href: "../../../all-advisors",
                      text: "All advisors"
                    },
                    {
                      href: "../../../search/search",
                      text: "Search"
                    },
                    {
                      href: "../../referrals",
                      text: "Referrals"
                    },
                    {
                      href: "../../../data-retention/manage-data",
                      text: "Manage data"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Personal details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Personal details
      </h1>

      <p>
        Enter the applicant's personal details to make a workplace assessment referral.
      </p>

      <h2 class="govuk-heading-m">Full name</h2>

      <form action="../workplace-assessment/duplicate-found" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "First name"
        },
        name: "first-name-duplicate-found",
        "classes": "govuk-input--width-10"
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        name: "last-name-duplicate-found",
        "classes": "govuk-input--width-10"
      }) }}


      {{ govukInput({
        "label": {
          "text": "Unique reference number (URN)",
          "classes": "govuk-label--m"
        },
        "hint": {
          "text": "It has 9 numbers and starts with a 1."
        },
        name: "urn-reference-number-duplicate-found",
        "classes": "govuk-input--width-10"
      }) }}

      {{ govukInput({
        "label": {
          "text": "National Insurance number",
          "classes": "govuk-label--m"
        },
        "hint": {
          "text": "It has 2 letters, 6 numbers, then A, B, C or D, like 'QQ 12 34 56 C'"
        },
        name: "ni-number-duplicate-found",
        "classes": "govuk-input--width-10"
      }) }}

      {{ govukInput({
        "label": {
          "text": "UK phone number",
          "classes": "govuk-label--m"
        },
        "hint": {
          "text": "It must be 11 numbers and must not include special characters or country codes. For example, 01632960000 or 07700900000"
        },
        name: "phone-number-duplicate-found",
        "classes": "govuk-input--width-10"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
          
    </form>

    </div>
  </div>

{% endblock %}
