{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is your workplace address? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include versionPath + "//includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include versionPath + "//includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../self-employed/job-select-address" method="post">

      <h1 class="govuk-heading-l">What is your workplace address?</h1>

      <p class="govuk-body">If you work in different locations, provide the address where you work most often.</p>

      <p class="govuk-body">
        <a href="/show-address-row-self-employed-started-work" class="govuk-link">I do not know my workplace address</a>
      </p>

        {{ govukInput({
          label: {
            text: "Postcode"
          },
          classes: "govuk-input--width-10",
          name: "postcode-job-address-self-employed"
        }) }}

      {{ govukButton({
        text: "Find address"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../../../task-list" class="govuk-link">Return to tasks</a>
      </p>
      
    </div>

   {% include versionPath + "//includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include versionPath + "//includes/footer" %}
{% endblock %}