{% macro keyDetails(params) %}

  <div class="atw-key-details-wrapper">
  <div class="govuk-width-container">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2 atw-key-details-details ">
          {{ params.name | safe }}
        </h1>
        {% if params.nino %}
          <p class="govuk-body govuk-!-margin-bottom-1 atw-key-details-details"><strong>NI number:</strong> {{params.nino | safe }}</p>
        {% endif %}
        {% if params.urn %}
          <p class="govuk-body govuk-!-margin-bottom-1 atw-key-details-details"><strong>URN:</strong> {{params.urn | safe }}</p>
        {%  endif  %}
        {% if params.caseRef %}
          <p class="govuk-body govuk-!-margin-bottom-1 atw-key-details-details"><strong>Case reference:</strong> {{params.caseRef | safe }}</p>
        {%  endif  %}
        {% if params.caseType %}
          <p class="govuk-body govuk-!-margin-bottom-0 atw-key-details-details"><strong>Case type:</strong> {{ params.caseType | safe }} </p>
        {%  endif  %}
      </div>
    </div>

  </div>
</div>

{% endmacro %}