{% extends "layouts/main.html" %}

{% block pageTitle %}
  Change personal details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "../sign-out",
    oneLoginLink: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/home/account-home",
    serviceNavigationParams: {
      serviceName: "Claim money back from Access to Work",
      serviceUrl: "/index"
    }
  }) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

 <div class="govuk-back-link-and-translation govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="declaration" method="post" novalidate>

      <h1 class="govuk-heading-l">Change personal details</h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: data['first-name'] or "John"
            },
            actions: {
        items: [
          {
            href: "change-name",
            text: "Change",
            visuallyHiddenText: "First name"
          }
        ]
      }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: data['last-name'] or "Smith"
            },
            actions: {
        items: [
          {
            href: "change-name",
            text: "Change",
            visuallyHiddenText: "Last name"
          }
        ]
      }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['email-address'] or "claimants@m7nfruhi.mailosaur.net"
            },
            actions: {
              items: [
                {
                  href: "change-email-address",
                  text: "Change",
                  visuallyHiddenText: "Email address"
                }
              ]
            }
          },
          {
            key: {
              text: "Home telephone number"
            },
            value: {
              text: data['home-number'] or "02089005122"
            },
            actions: {
        items: [
          {
            href: "telephone-numbers",
            text: "Change",
            visuallyHiddenText: "Home telephone number"
          }
        ]
      }
          },
          {
            key: {
              text: "Mobile number"
            },
            value: {
              text: data['mobile-number'] or "07777777777"
            },
            actions: {
        items: [
          {
            href: "#",
            text: "Change",
            visuallyHiddenText: "Mobile number"
          }
        ]
      }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: (data['address-select-claims'] or "123 High St<br> Penge<br> London") + "<br>" + (data['postcode-claims'] or "HA1 1YJ")
            },
            actions: {
        items: [
          {
            href: "postcode",
            text: "Change",
            visuallyHiddenText: "Address"
          }
        ]
      }
          }
        ]
      }) }}

      {{ govukButton({
          text: "Continue"
        }) }}
    </div>
  </div>
{% endblock %}
