{% extends "layouts/main.html" %}

{% block pageTitle %}
  Personal details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "../sign-out",
    oneLoginLink: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/home/account-home",
    serviceNavigationParams: {
      serviceName: "Claim money back from Access to Work",
      serviceUrl: "/index"
    }
  }) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

<div class="govuk-back-link-and-translation govuk-width-container">
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "../account-home"
    },
    {
      text: "Personal details",
      href: "personal-details"
    }
  ]
}) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Personal details
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Full name"
            },
            value: {
              text: (data['first-name'] or "John") + " " + (data['last-name'] or "Smith")
            }
          },
          {
            key: {
              text: "Access to Work number"
            },
            value: {
              text: "100009073"
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['email-address'] or "claimants@m7nfruhi.mailosaur.net"
            }
          },
          {
            key: {
              text: "Home telephone number"
            },
            value: {
              text: data['home-number'] or "02089005122"
            }
          },
          {
            key: {
              text: "Mobile number"
            },
            value: {
              text: data['mobile-number'] or "07777777777"
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: (data['address-select-claims'] or "123 High St, Penge, London") + "<br>" + (data['postcode-claims'] or "HA1 1YJ")
            }
          }
        ]
      }) }}




      <p>You must let us know if these details change. If you tell us about a change, your new details will take a few days to show in your account.</p>

      <form action="change-personal-details" method="post" novalidate>

        {{ govukButton({
          text: "Change personal details"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
