{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Al Ó Catháin",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "search",
              items: [
                   {
                      href: "../your-cases",
                      text: "Your cases"
                    },
                    {
                      href: "../unallocated/unallocated-main-page",
                      text: "Unallocated"
                    },
                    {
                      href: "../all-advisors",
                      text: "All advisors"
                    },
                    {
                      href: "search",
                      text: "Search"
                    },
                    {
                      href: "../referrals/referrals",
                      text: "Referrals"
                    },
                    {
                      href: "../data-retention/manage-data",
                      text: "Manage data"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype. It is not a real service.'
  }) }}
{% endblock %}

{% block pageTitle %}
  Referrals – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Find a case</h1>

      <p class="govuk-body">Enter or select information about the case. The more information you provide, the more specific your search will be.</p>

      </div>

      <div class="govuk-grid-column-full">

      {{ govukInput({
        label: {
          text: "Enter customer name, National Insurance number, URN or application reference"
        },
        classes: "govuk-!-width-one-half",
        id: "enter-customer-details",
        name: "enter-customer-details"
      }) }}

      {{ govukSelect({
        classes: "govuk-!-width-one-half",
        id: "select-caseworker",
        name: "select-caseworker",
        label: {
          text: "Select caseworker"
        },
        items: [
        {
            value: "unselected",
            text: "",
            selected: true
          },
          {
            value: "caseworker-1",
            text: "John Goldsmith"
          },
          {
            value: "caseworker-2",
            text: "Imani Pretorius"
          },
          {
            value: "caseworker-3",
            text: "Tom Garb"
          },
          {
            value: "caseworker-4",
            text: "Robyn Wallis"
          }
        ]
      }) }}

       {{ govukSelect({
        classes: "govuk-!-width-one-half",
        id: "select-allocation",
        name: "select-allocation",
        label: {
          text: "Select allocation"
        },
        items: [
        {
            value: "unselected",
            text: "",
            selected: true
          },
          {
            value: "allocation-1",
            text: "Unallocated"
          },
          {
            value: "allocation-2",
            text: "Allocated"
          },
          {
            value: "allocation-3",
            text: "In DiSC"
          }
        ]
      }) }}

      {{ govukSelect({
        classes: "govuk-!-width-one-half",
        id: "select-case-type",
        name: "select-case-type",
        label: {
          text: "Select case type"
        },
        items: [
        {
            value: "unselected",
            text: "",
            selected: true
          },
          {
            value: "case-type-1",
            text: "New application"
          },
          {
            value: "case-type-2",
            text: "Renewal"
          },
          {
            value: "case-type-3",
            text: "CSI"
          },
          {
            value: "case-type-3",
            text: "Documents"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Search"
      }) }}

      {{ govukTable({
            caption: "CSI cases",
            captionClasses: "govuk-table__caption--m",
            head: [
              {
                text: "Name"
              },
              {
                text: "Specialism"
              },
              {
                text: "Type of case"
              },
              {
                text: "Date submitted"
              },
              {
                text: "Allocated to"
              }
            ],
            rows: [
              [
                {
                  html: '<a href="csi/user-case" class="govuk-link">Alan Ferguson</a>'
                },
                {
                  text: "CSI"
                },
                {
                  text: "CSI"
                },
                {
                  text: "1 Nov 2025, 3:14pm"
                },
                {
                  text: ""
                }
              ],
              [
                {
                  html: '<a href="#" class="govuk-link">Kiera Lawton</a>'
                },
                {
                  text: "CSI"
                },
                {
                  text: "CSI"
                },
                {
                  text: "10 Nov 2025, 9:24am"
                },
                {
                  text: ""
                }
              ],
              [
                {
                  html: '<a href="#" class="govuk-link">Lucy Ballard</a>'
                },
                {
                  text: "CSI"
                },
                {
                  text: "CSI"
                },
                {
                  text: "17 Nov 2025, 12:13pm"
                },
                {
                  text: ""
                }
              ]
            ]
          }) }}

           {{ govukTable({
            caption: "Priority and other cases",
            captionClasses: "govuk-table__caption--m",
            head: [
              {
                text: "Name"
              },
              {
                text: "Specialism"
              },
              {
                text: "Type of case"
              },
              {
                text: "Date submitted"
              },
              {
                text: "Allocated to"
              }
            ],
            rows: [
              [
                {
                  html: '<a href="../priority-cases/user-case" class="govuk-link">Holly Walters</a>'
                },
                {
                  text: ""
                },
                {
                  text: "New application"
                },
                {
                  text: "17 Nov 2025, 12:13pm"
                },
                {
                  text: ""
                }
              ],
              [
                {
                  html: '<a href="../other-cases/renewal/user-case" class="govuk-link">Samantha Byram</a>'
                },
                {
                  text: ""
                },
                {
                  text: "Renewal"
                },
                {
                  text: "1 Nov 2025, 3:14pm"
                },
                {
                  text: ""
                }
              ],
              [
                {
                  html: '<a href="../other-cases/new-application/user-case" class="govuk-link">Alexandra Watson</a>'
                },
                {
                  text: ""
                },
                {
                  text: "New application"
                },
                {
                  text: "10 Nov 2025, 9:24am"
                },
                {
                  text: ""
                }
              ]
            ]
          }) }}

          {{ govukTable({
            caption: "Documents",
            captionClasses: "govuk-table__caption--m",
            head: [
              {
                text: "Name"
              },
              {
                text: "Type of document"
              },
              {
                text: "Form reference"
              },
              {
                text: "Date scanned"
              }
            ],
            rows: [
              [
                {
                  html: '<a href="../documents/user-case" class="govuk-link">Gary Boyd</a>'
                },
                {
                  text: "CSI"
                },
                {
                  text: "DP221JP"
                },
                {
                  text: "12 December 2025"
                }
              ]
            ]
          }) }}


    </div>
  </div>
                  

{% endblock %}