{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is your Unique Taxpayer Reference? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include versionPath + "//includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include versionPath + "//includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../registered-director/work-hours" method="post">

        {{ govukInput({
          label: {
            text: "What is your Unique Taxpayer Reference (UTR)?",
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          classes: "govuk-!-width-one-half",
          name: "utr-new-registered-director"
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../../../task-list" class="govuk-link">Return to tasks</a>
      </p>
      
    </div>

   {% include versionPath + "//includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include versionPath + "//includes/footer" %}
{% endblock %}