{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which days do you work? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include versionPath + "//includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include versionPath + "//includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../registered-director/job-address" method="post">

        {{ govukCheckboxes({
          name: "work-days-registered-director",
          fieldset: {
            legend: {
              text: "Which days of the week do you work?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Monday",
              text: "Monday"
            },
            {
              value: "Tuesday",
              text: "Tuesday"
            },
            {
              value: "Wednesday",
              text: "Wednesday"
            },
            {
              value: "Thursday",
              text: "Thursday"
            },
            {
              value: "Friday",
              text: "Friday"
            },
            {
              value: "Saturday",
              text: "Saturday"
            },
            {
              value: "Sunday",
              text: "Sunday"
            },
            {
              divider: "or"
            },
            {
              value: "I work flexibly or on a shift pattern",
              text: "I work flexibly or on a shift pattern",
              behaviour: "exclusive"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../../../task-list" class="govuk-link">Return to tasks</a>
      </p>
      
    </div>

   {% include versionPath + "//includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include versionPath + "//includes/footer" %}
{% endblock %}