{% extends "layouts/main.html" %}

{% block pageTitle %}
  Remove job – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include versionPath + "//includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include versionPath + "//includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="{{versionPath}}/remove-job-answer-starting-job" method="post">

      {{ govukRadios({
        name: "remove-job-starting-job",
        fieldset: {
          legend: {
            text: "Do you want to remove details for your job at" + ' ' + data['company-name-starting-job'] + '?',
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No",
            text: "No"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../../../task-list.html" class="govuk-link">Return to tasks</a>
      </p>
      
    </div>

   {% include versionPath + "//includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include versionPath + "//includes/footer" %}
{% endblock %}