{% extends "layouts/main.html" %}

{% block pageTitle %}
  Total support – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "../../../sign-out",
    oneLoginLink: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/home/account-home",
    serviceNavigationParams: {
      serviceName: "Claim money back from Access to Work",
      serviceUrl: "/index"
    }
  }) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

 <div class="govuk-back-link-and-translation govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Support you had in [Month] + [Year]
      </h1>

      <form action="support-summary" method="post" novalidate>

        {{ govukDateInput({
          id: "total-support-support-worker",
          namePrefix: "total-support-support-worker",
          fieldset: {
            legend: {
              text: "Total support on [day] + [date] + [Month]",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 8 hours and 27 minutes"
          },
          items: [
            {
              name: "hours",
              classes: "govuk-input--width-3"
            },
            {
              name: "minutes",
              classes: "govuk-input--width-3"
            }
          ]
        }) }}

        {{ govukDateInput({
          id: "total-support-support-worker-2",
          namePrefix: "total-support-support-worker-2",
          fieldset: {
            legend: {
              text: "Total support on [day] + [date] + [Month]",
              classes: "govuk-fieldset__legend--s"
            }
          },
          hint: {
            text: "For example, 8 hours and 27 minutes"
          },
          items: [
            {
              name: "hours",
              classes: "govuk-input--width-3"
            },
            {
              name: "minutes",
              classes: "govuk-input--width-3"
            }
          ]
        }) }}
      

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
