{% extends "layouts/main.html" %}

{% block header %}

{{
  dwpHeader({
      serviceName: "John Goldsmith",
      container: true
  })
}}


{{ govukServiceNavigation({
  "serviceName": "Access to Work",
  "serviceUrl": "/index",
  navigation: [
    {
      href: "#",
      text: "Your cases"
    },
    {
      href: "#",
      text: "Search"
    },
    {
      href: "/v1/referrals",
      text: "Referrals",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  Check answers – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check answers before sending referral</h1>

    <h2 class="govuk-heading-m">Referral type</h2>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
        {
          key: {
            text: "Type of referral"
          },
          value: {
            text: data['send-new-referral']
          },
          actions: {
            items: [
              {
                href: "/v1/referrals#send-new-referral",
                text: "Change",
                visuallyHiddenText: "type of referral"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Personal details</h2>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
        {
          key: {
            text: "First name"
          },
          value: {
            text: data['first-name']
          },
          actions: {
            items: [
              {
                href: "/v1/workplace-assessment/personal-details#first-name",
                text: "Change",
                visuallyHiddenText: "first name"
              }
            ]
          }
        },
        {
          key: {
            text: "Last name"
          },
          value: {
            text: data['last-name']
          },
          actions: {
            items: [
              {
                href: "/v1/workplace-assessment/personal-details#last-name",
                text: "Change",
                visuallyHiddenText: "last name"
              }
            ]
          }
        },
        {
          key: {
            text: "Unique reference number (URN)"
          },
          value: {
            text: data['urn-reference-number']
          },
          actions: {
            items: [
              {
                href: "/v1/workplace-assessment/personal-details#urn-reference-number",
                text: "Change",
                visuallyHiddenText: "urn number"
              }
            ]
          }
        },
        {
          key: {
            text: "National Insurance number"
          },
          value: {
            text: data['ni-number']
          },
          actions: {
            items: [
              {
                href: "/v1/workplace-assessment/personal-details#ni-number",
                text: "Change",
                visuallyHiddenText: "ni number"
              }
            ]
          }
        },
        {
          key: {
            text: "UK phone number"
          },
          value: {
            text: data['phone-number']
          },
          actions: {
            items: [
              {
                href: "/v1/workplace-assessment/personal-details#phone-number",
                text: "Change",
                visuallyHiddenText: "phone number"
              }
            ]
          }
        },
        {
          key: {
            text: "Address"
          },
          value: {
            text: data['addresses-select']
          },
          actions: {
            items: [
              {
                href: "/v1/workplace-assessment/find-address#postcode",
                text: "Change",
                visuallyHiddenText: "address"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Provider details</h2>

    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: [
        {
          key: {
            text: "Provider, code and office"
          },
          value: {
            text: data['provider']
          },
          actions: {
            items: [
              {
                href: "/v1/workplace-assessment/provider-details#provider",
                text: "Change",
                visuallyHiddenText: "provider details"
              }
            ]
          }
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">Now send {{ data['first-name'] }} {{ data['last-name'] }}'s referral</h2>

    <p class="govuk-body">By submitting this referral you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

    <form action="/v1/workplace-assessment/referral-complete" method="post" novalidate>

      <input type="hidden" name="answers-checked" value="true">

      {{ govukButton({
        text: "Accept and send"
      }) }}

    </form>

  </div>
</div>

{% endblock %}
