{% extends "layouts/main.html" %}

{% block header %}

{{
  dwpHeader({
      serviceName: "John Goldsmith",
      container: true
  })
}}


{{ govukServiceNavigation({
  "serviceName": "Access to Work",
  "serviceUrl": "/index",
  navigation: [
    {
      href: "#",
      text: "Your cases"
    },
    {
      href: "#",
      text: "Search"
    },
    {
      href: "/v1/referrals",
      text: "Referrals",
      active: true
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}
  Personal details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Personal details
      </h1>

      <p>
        Enter the applicant's personal details to make a workplace assessment referral.
      </p>

      <h2 class="govuk-heading-m">Full name</h2>

      <form action="/v1/workplace-assessment/find-address" method="post" novalidate>

      {{ govukInput({
        label: {
          text: "First name"
        },
        name: "first-name",
        "classes": "govuk-input--width-10"
      }) }}

      {{ govukInput({
        label: {
          text: "Last name"
        },
        name: "last-name",
        "classes": "govuk-input--width-10"
      }) }}


      {{ govukInput({
        "label": {
          "text": "Unique reference number (URN)",
          "classes": "govuk-label--m"
        },
        "hint": {
          "text": "It has 9 numbers and starts with a 1."
        },
        name: "urn-reference-number",
        "classes": "govuk-input--width-10"
      }) }}

      {{ govukInput({
        "label": {
          "text": "National Insurance number",
          "classes": "govuk-label--m"
        },
        "hint": {
          "text": "It has 2 letters, 6 numbers, then A, B, C or D, like 'QQ 12 34 56 C'"
        },
        name: "ni-number",
        "classes": "govuk-input--width-10"
      }) }}

      {{ govukInput({
        "label": {
          "text": "UK phone number",
          "classes": "govuk-label--m"
        },
        "hint": {
          "text": "It must be 11 numbers and must not include special characters or area codes. For example, 01632960000 or 07700900000"
        },
        name: "phone-number",
        "classes": "govuk-input--width-10"
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}
          
    </form>

    </div>
  </div>

{% endblock %}
