{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "John Goldsmith",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "../referrals",
              items: [
                  {
                      href: "#",
                      text: "Your cases"
                  },
                  {
                      href: "search",
                      text: "Search"
                  },
                  {
                      href: "../referrals",
                      text: "Referrals"
                  }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Confirm address – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Confirm address
      </h1>

      <p class="govuk-body">6 addresses found for <strong>{{ data['postcode-mhs'] }}</strong> and <strong>{{ data['building-number-mhs'] }}</strong>. <a href="../mental-health-service/find-address" class="govuk-link">Search again</a></p>

      {{ govukInsetText({
        html: data['addresses-select-mhs']
      }) }}

      {{ govukButton({
        text: "Use this address",
        href: "../mental-health-service/referral-type"
      }) }}

      <p class="govuk-body">
        <a href="../mental-health-service/select-address" class="govuk-link">Use a different address</a>.
      </p>

      <p class="govuk-body">
        <a href="../mental-health-service/enter-address" class="govuk-link">Enter address manually</a>.
      </p>
          
          

    </div>
  </div>

{% endblock %}
