{% extends "layouts/main.html" %}

{% set userName = "John Smith" if data['atwis-user-type'] == 'team-leader' else "Jane Doe"%}
{% set userRole = "Case manager team leader" if data['atwis-user-type'] == 'team-leader' else "Service centre agent" %} 

{% block header %}
{% if data['atwis-user-type'] == "team-leader" %}

{{
    dwpHeader({
        serviceName: "Access to Work",
        serviceHref: '/index',
        action: userName,
        actionHref: "#",
        container: true,
        navigation: {
          selectedItem: "../all-advisors",
          items: [
                {
                  href: "../your-cases",
                  text: "Your cases"
                },
                {
                  href: "../unallocated/unallocated-main-page",
                  text: "Unallocated"
                },
                {
                  href: "../all-advisors",
                  text: "All advisors"
                },
                {
                  href: "../search/search",
                  text: "Search"
                },
                {
                  href: "../referrals/referrals",
                  text: "Referrals"
                },
                {
                  href: "../data-retention/manage-data",
                  text: "Manage data"
                }
          ]
      }  
    })
}}

{% else %}
{{
    dwpHeader({
        serviceName: "Access to Work",
        serviceHref: '/index',
        action: userName,
        actionHref: "#",
        container: true,
        navigation: {
          selectedItem: "../your-cases",
          items: [
                {
                  href: "../your-cases",
                  text: "Your cases"
                },
                {
                  href: "../unallocated/unallocated-main-page",
                  text: "Unallocated"
                },
                {
                  href: "../search/search",
                  text: "Search"
                },
                {
                  href: "../referrals/referrals",
                  text: "Referrals"
                },
                {
                  href: "../data-retention/manage-data",
                  text: "Manage data"
                }
          ]
      }  
    })
}}

{% endif %}
{% endblock %}

{% block pageTitle %}
  Your cases – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ dwpQuickReference({
            ariaLabel: "User information",
            primaryReference: {
                text: 'User name:',
                value: userName
            },
            secondaryReference: {
                text: 'Your role and permissions:',
                textDisplay: true,
                value: userRole
            }
        })
      }}


 {{ 
      dwpHorizontalNavigation({
            selectedItem: "advisor-view-documents",
            items: [
                {
                  text: "Other cases (2)",
                  href: "advisor-view-other-cases",
                  id: "other-cases"
                },
                {
                  text: "Priority cases (1)",
                  href: "advisor-view-priority-cases",
                  id: "priority-cases"
                },
                {
                  text: "CSI cases (3)",
                  href: "advisor-view-csi-cases",
                  id: "csi-cases"
                },
                {
                  text: "Envelopes (3)",
                  href: "advisor-view-documents",
                  id: "documents"
                }
            ]
        })
}}

<div class="govuk-tabs__panel">

    <h2 class="govuk-heading-m">John Goldsmith's envelopes (3)</h2>

          {{ govukSelect({
            id: "document-type",
            name: "document-type",
            label: {
              text: "Type of envelope"
            },
            items: [
              {
                value: "no specialist equipment",
                text: "No specialist equipment",
                selected: true
              },
              {
                value: "specialist equipment",
                text: "Specialist equipment"
              },
              {
                value: "TESG",
                text: "TESG"
              },
              {
                value: "CSI",
                text: "CSI"
              }
            ]
          }) }}

          {{ govukButton({
            text: "Request a new envelope"
          }) }}


          {{ govukTable({
            caption: "Envelope details",
            captionClasses: "govuk-table__caption--m",
            head: [
              {
                text: "Name"
              },
              {
                text: "Details"
              },
              {
                text: "Oldest envelope"
              },
              {
                text: "Status"
              }
            ],
            rows: [
              [
                {
                  html: '<a href="../documents/user-case1" class="govuk-link">Gary Boyd</a>'
                },
                {
                  html: "	3 envelopes<br>7 documents"
                },
                {
                  text: "6 February 2026"
                },
                {
                  text: "Not started"
                }
              ]
            ]
          }) }}


    </div>
  </div>
  </div>

{% endblock %}
