{% extends "layouts/main.html" %}

{% block pageTitle %}
  How will a taxi support you? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "apply/v1/includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include "apply/v1/includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="how-many-journeys" method="post">

        {{ govukCharacterCount({
          name: "taxi-help",
          id: "taxi-help",
          maxlength: 500,
          rows: 10,
          label: {
            text: "How will having a taxi to help you travel to and from work meet your needs?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "You could include the effect of not having any support, or what you find difficult about travelling to work"
          }
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../task-list" class="govuk-link">Return to tasks</a>
      </p>
      

    </div>

   {% include "apply/v1/includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include "apply/v1/includes/footer" %}
{% endblock %}