{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Al Ó Catháin",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "unallocated-main-page",
              items: [
                   {
                      href: "../your-cases",
                      text: "Your cases"
                    },
                    {
                      href: "unallocated-main-page",
                      text: "Unallocated"
                    },
                    {
                      href: "../all-advisors",
                      text: "All advisors"
                    },
                    {
                      href: "../../v2/referrals/search",
                      text: "Search"
                    },
                    {
                      href: "../../v2/referrals/referrals",
                      text: "Referrals"
                    },
                    {
                      href: "../data-retention/manage-data",
                      text: "Manage data"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Unallocated cases – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{
        dwpQuickReference({
            ariaLabel: "User information",
            primaryReference: {
                text: 'User name:',
                value: 'Al Ó Catháin'
            },
            secondaryReference: {
                text: 'Your role and permissions:',
                textDisplay: true,
                value: 'Case manager team leader'
            }
        })
}}

      {{ 
      dwpHorizontalNavigation({
            selectedItem: "unallocated-other-cases",
            items: [
                {
                  text: "Priority cases (2)",
                  href: "unallocated-main-page",
                  id: "unallocated-priority-cases"
                },
                {
                  text: "Other cases (2)",
                  href: "unallocated-other-cases",
                  id: "unallocated-other-cases"
                },
                {
                  text: "CSI cases (1)",
                  href: "unallocated-csi-cases",
                  id: "unallocated-csi-cases"
                },
                {
                  text: "Documents (1)",
                  href: "unallocated-documents",
                  id: "unallocated-documents"
                }
            ]
        })
}}

<div class="govuk-tabs__panel">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-l">Unallocated other cases (2)</h2>

          {{ govukTable({
            caption: "Case details",
            captionClasses: "govuk-table__caption--m",
            head: [
              {
                text: "Name"
              },
              {
                text: "Type of case"
              },
              {
                text: "Date submitted"
              }
            ],
            rows: [
              [
                {
                  html: '<a href="../other-cases/new-application/user-case" class="govuk-link">Alexandra Watson</a>'
                },
                {
                  text: "New application"
                },
                {
                  text: "6 January 2026"
                }
              ],
                [
                {
                  html: '<a href="../other-cases/renewal/user-case" class="govuk-link">Samantha Byram</a>'
                },
                {
                  text: "Renewal"
                },
                {
                  text: "4 January 2026"
                }
              ]
            ]
          }) }}

     
  </div>
  </div>
    </div>

{% endblock %}
