{% extends "layouts/main.html" %}

{% block pageTitle %}
  support worker hours – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include versionPath + "//includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include versionPath + "//includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="../support-worker/check-answers-support-worker" method="post">

        {{ govukInput({
          id: "support-worker-hours",
          name: "support-worker-hours",
          label: {
            text: "How many hours per week do you need this support at work?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "If you do not know, give the maximum number of hours per week you will need this support"
          },
          suffix: {
            text: "hours per week"
          },
          classes: "govuk-input--width-3",
          spellcheck: false
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../task-list" class="govuk-link">Return to tasks</a>
      </p>
      

    </div>

   {% include versionPath + "//includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include versionPath + "//includes/footer" %}
{% endblock %}