{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers self-employed – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include versionPath + "/includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include versionPath + "/includes/before-content" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Check your answers: {{data['job-title-self-employed-starting-job']}}</h1>
    <h2 class="govuk-heading-m">Employment details</h2>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Employment status</dt>
        <dd class="govuk-summary-list__value">{{ data['job-status-starting-job'] }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="../employment-status">Change<span class="govuk-visually-hidden"> employment status</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Job title</dt>
        <dd class="govuk-summary-list__value">{{ data['job-title-self-employed-starting-job'] }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="job-title">Change<span class="govuk-visually-hidden"> job title</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Job description</dt>
        <dd class="govuk-summary-list__value">{{ data['job-description-self-employed-starting-job'] }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="job-description">Change<span class="govuk-visually-hidden"> job description</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Do you have a Unique Taxpayer Reference (UTR)?</dt>
        <dd class="govuk-summary-list__value">{{ data['have-utr-self-employed-starting-job'] }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="have-utr">Change<span class="govuk-visually-hidden"> if you have a Unique Taxpayer reference</span></a></dd>
      </div>
      {% if data['have-utr-self-employed-starting-job']== "Yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">What is your Unique Taxpayer Reference (UTR)?</dt>
        <dd class="govuk-summary-list__value">{{ data['utr-self-employed-starting-job'] }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="utr">Change<span class="govuk-visually-hidden"> Unique Taxpayer Reference</span></a></dd>
      </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">When will you be starting your self-employment?</dt>
        <dd class="govuk-summary-list__value">{% if data['self-employed-start-date-starting-job-day'] !== "" %} {{ data['self-employed-start-date-starting-job-day'] + " " + data['self-employed-start-date-starting-job-month'] | monthName + " " + data['self-employed-start-date-starting-job-year'] }} {% endif %}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="start-date">Change<span class="govuk-visually-hidden"> start date</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">How many hours per week will you work?</dt>
        <dd class="govuk-summary-list__value">{{ data['work-hours-self-employed-starting-job'] }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="work-hours">Change<span class="govuk-visually-hidden"> work hours</span></a></dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Do you know which days of the week you will be working?</dt>
        <dd class="govuk-summary-list__value">{{ data['days-will-work-self-employed-starting-job'] }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="days-will-work">Change<span class="govuk-visually-hidden"> if you know which days of the week you will be working</span></a></dd>
      </div>
      {% if data['days-will-work-self-employed-starting-job']=="Yes" %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Which days of the week will you work?</dt>
        <dd class="govuk-summary-list__value">{{ data['work-days-self-employed-starting-job'] }}</dd>
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="work-days">Change<span class="govuk-visually-hidden"> which days of the week you will be working</span></a></dd>
      </div>
      {% endif %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">Workplace address</dt>
        {% if data['job-address-select-self-employed-starting-job']!==""%}
        <dd class="govuk-summary-list__value">{{ data['job-address-select-self-employed-starting-job'] + ", " + data['postcode-job-address-self-employed-starting-job']  or "I do not know my workplace address" }}</dd>
        {% else %}
        <dd class="govuk-summary-list__value">I do not know my workplace address</dd>
        {% endif %}
        <dd class="govuk-summary-list__actions"><a class="govuk-link" href="job-address">Change<span class="govuk-visually-hidden">workplace address</span></a></dd>
      </div>
    </dl>

    <form action="{{versionPath}}/add-job-starting-job-self-employed" method="post" novalidate>

      <input type="hidden" name="answers-checked-self-employed-details-starting-job" value="true">

      {{ govukButton({
        text: "Confirm and continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a href="../../../task-list" class="govuk-link">Return to tasks</a>
    </p>
    

  </div>

    {% include versionPath + "/includes/get-help" %}
      </div>

{% endblock %}

{% block footer %}
{% include versionPath + "/includes/footer" %}
{% endblock %}