{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Al Ó Catháin",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "your-cases",
              items: [
                   {
                      href: "your-cases",
                      text: "Your cases"
                    },
                    {
                      href: "../unallocated/unallocated-main-page",
                      text: "Unallocated"
                    },
                    {
                      href: "all-advisors",
                      text: "All advisors"
                    },
                    {
                      href: "../../v2/referrals/search",
                      text: "Search"
                    },
                    {
                      href: "../../v2/referrals/referrals",
                      text: "Referrals"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Renewal case – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

<style>
  

.full-width-wrapper {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #005ea5;
  padding: 1rem 0;
}

.dwp-quick-reference--alternative {
  background-color: transparent;
}


</style>

<div class="full-width-wrapper">
  <div class="govuk-width-container">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l govuk-!-margin-bottom-2" style="color:white !important;">
          Gary Boyd
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <p class="govuk-body govuk-!-margin-bottom-1" style="color:white !important;"><strong>URN:</strong> AB123456C</p>
        <p class="govuk-body govuk-!-margin-bottom-0" style="color:white !important;"><strong>Document status:</strong> Not started</p>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <form action="/end-date-answer" method="post" novalidate>

      {{ govukRadios({
  classes: "govuk-radios--inline",
  name: "relevant-end-date",
  fieldset: {
    legend: {
      text: "Is there a relevant Access to Work period end date in DiSC?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  hint: {
    text: "We use this date to tell DRS how long to keep the documents"
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

{{ govukButton({
  text: "Continue"
}) }}

</form>

<p class="govuk-body"><a href="user-case" class="govuk-link">Cancel and return to Gary Boyd's document details</a></p>

</div>
</div>
{% endblock %}
