{% extends "layouts/main.html" %}

{% block header %}

{{
        dwpHeader({
            serviceName: "Access to Work",
            serviceHref: '/index',
            action: "Al Ó Catháin",
            actionHref: "#",
            container: true,
            navigation: {
              selectedItem: "../your-cases",
              items: [
                   {
                      href: "../your-cases",
                      text: "Your cases"
                    },
                    {
                      href: "../unallocated/unallocated-main-page",
                      text: "Unallocated"
                    },
                    {
                      href: "../all-advisors",
                      text: "All advisors"
                    },
                    {
                      href: "../../v2/referrals/search",
                      text: "Search"
                    },
                    {
                      href: "../../v2/referrals/referrals",
                      text: "Referrals"
                    },
                    {
                      href: "../data-retention/manage-data",
                      text: "Manage data"
                    }
              ]
          }  
        })
}}
{% endblock %}

{% block pageTitle %}
  Your cases – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{
        dwpQuickReference({
            ariaLabel: "User information",
            primaryReference: {
                text: 'User name:',
                value: 'Al Ó Catháin'
            },
            secondaryReference: {
                text: 'Your role and permissions:',
                textDisplay: true,
                value: 'Case manager team leader'
            }
        })
}}

      {{ 
      dwpHorizontalNavigation({
            selectedItem: "your-documents",
            items: [
                {
                  text: "Your other cases (2)",
                  href: "../your-cases",
                  id: "your-other-cases"
                },
                {
                  text: "Your priority cases (1)",
                  href: "../priority-cases/your-priority-cases",
                  id: "your-priority-cases"
                },
                {
                  text: "Your CSI cases (3)",
                  href: "../csi/your-csi-cases",
                  id: "your-csi-cases"
                },
                {
                  text: "Your documents (1)",
                  href: "your-documents",
                  id: "your-documents"
                }
            ]
        })
}}

<div class="govuk-tabs__panel">

    <h2 class="govuk-heading-m">Your documents (1)</h2>

          {{ govukSelect({
            id: "document-type",
            name: "document-type",
            label: {
              text: "Type of document"
            },
            items: [
              {
                value: "any",
                text: "Any"
              },
              {
                value: "priority cases",
                text: "Priority cases"
              },
              {
                value: "CSI cases",
                text: "CSI cases"
              },
              {
                value: "documents",
                text: "Documents"
              },
              {
                value: "no specialist equipment",
                text: "No specialist equipment",
                selected: true
              }
            ]
          }) }}

          {{ govukButton({
            text: "Request a new document"
          }) }}

          {{ govukTable({
            caption: "Document details",
            captionClasses: "govuk-table__caption--m",
            head: [
              {
                text: "Name"
              },
              {
                text: "Type of document"
              },
              {
                text: "Form reference"
              },
              {
                text: "Date scanned"
              },
              {
                text: "Status"
              }
            ],
            rows: [
              [
                {
                  html: '<a href="user-case" class="govuk-link">Gary Boyd</a>'
                },
                {
                  text: "CSI"
                },
                {
                  text: "DP221JP"
                },
                {
                  text: "12 December 2025"
                },
                {
                  text: "Not started"
                }
              ]
            ]
          }) }}


    </div>
  </div>
  </div>

{% endblock %}
