{% extends "layouts/main.html" %}

{% block header %}

{{
  dwpHeader({
      serviceName: "Access to Work",
      serviceHref: '/index',
      container: true
  })
}}

{{ govukServiceNavigation({
  navigation: [
    {
      href: "/index",
      text: "Home",
      active: true
    },
    {
      href: "/prototypes",
      text: "View prototypes"
    }
  ]
}) }}

{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "Prototype"
    },
    html: 'This is a prototype. It is not a real service.'
  }) }}
{% endblock %}


{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototype
    </h1>

    <p class="govuk-body-l">This is the home page for navigating through the Access to Work (AtW) prototype.</p>

    <p class="govuk-body">This prototype documents several aspects of the end-to-end AtW services, here you can view:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the AtWIS service, focussing on the agent-facing and application handling side of AtW</li>
      <li>the Apply for AtW service, designed for citizens to create and submit their applications</li>
    </ul>

    <p class="govuk-body"> <a href="/prototypes" class="govuk-link">View prototypes</a></p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <h2 class="govuk-heading-l">Previous prototype versions (Pre-April 2025)</h2>

    <p class="govuk-body">In April 2025 a new prototype was made to address a number of areas from the old prototype:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>update the version of the prototype kit to the latest version</li>
      <li>update the components to the latest versions to align with upcoming GDS Design System changes</li>
      <li>streamline the prototype to a simpler version without historical versioning from previous design stages</li>
      <li>bring together multiple prototypes into one prototype, making it easier to manage, enabling easier documentation and easier collaboration to view the end-to-end AtW journey</li>
    </ul>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View previous versions of the Access to Work prototypes
        </span>
      </summary>
      <div class="govuk-details__text">
        <h3 class="govuk-heading-m">AtWIS prototype</h3>
        <p class="govuk-body">To view previous versions of this prototype, click on the link to the hosted prototype and enter the username and password credentials to gain access.</p>
        <p class="govuk-body"> <a href="https://atwis-csi-prototype.herokuapp.com/" class="govuk-link">Access to Work prototype link (Pre-April 2025)</a></p>
          <p class="govuk-body">Username: atw-atwis</p>
          <p class="govuk-body">Password: siwta-wta</p>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          <h3 class="govuk-heading-m">Apply for AtW prototype</h3>
          <p class="govuk-body">To view previous versions of this prototype, click on the link to the hosted prototype and enter the username and password credentials to gain access.</p>
          <p class="govuk-body"> <a href="https://atw-apply-prototype-347857c74d32.herokuapp.com/" class="govuk-link">Apply for AtW prototype link (Pre-May 2025)</a></p>
            <p class="govuk-body">Password: ylppa-wta</p>
       
      </div>
    </details>

  </div>
</div>



{% endblock %}
