{% extends "layouts/main.html" %}

{% block pageTitle %}
  Select job for support – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
{% include "apply/v1/includes/header" %}
{% endblock %}

{% block beforeContent %}
{% include "apply/v1/includes/before-content" %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/multiple-jobs" method="post">

        {{ govukCheckboxes({
          name: "multiple-jobs",
          fieldset: {
            legend: {
              text: "Which job do you need this travel to work support for?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply"
          },
          items: [
            {
              value: "Postman at Royal Mail",
              text: "Postman at Royal Mail"
            },
            {
              value: "Self-employed as Electrician",
              text: "Self-employed as Electrician"
            },
            {
              value: "Registered director of a limited company as CFO",
              text: "Registered director of a limited company as CFO"
            }
          ]
        }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

      <p class="govuk-body">
        <a href="../task-list" class="govuk-link">Return to tasks</a>
      </p>
      
    </div>

   {% include "apply/v1/includes/get-help" %}
        </div>

{% endblock %}

{% block footer %}
{% include "apply/v1/includes/footer" %}
{% endblock %}