{% extends "layouts/main.html" %}

{% block pageTitle %}
  You have been signed out of {{ serviceName }} – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader() }}

  {{ govukServiceNavigation({
  serviceName: "Claim money back from Access to Work",
  serviceUrl: "/index"
}) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

 <div class="govuk-back-link-and-translation govuk-width-container">

  <div class="language-switcher govuk-!-margin-top-3">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">We have signed you out</h1>

      <p class="govuk-body">You will need to sign back in to access your account. We do this to keep your information secure.</p>

      <p class="govuk-body">You can safely close this tab.</p>

      {{ govukButton({
        text: "Sign in",
        href: "create-sign-in-ol"
      }) }}
    
  </div>
  </div>

{% endblock %}

{% block footer %}
{% include "claims/v2/includes/footer" %}
{% endblock %}