{% extends "layouts/main.html" %}

{% block pageTitle %}
  Claim summary – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}



{% block header %}
  {{ govukOneLoginServiceHeader({
    signOutLink: "../../../sign-out",
    oneLoginLink: "https://govuk-one-login-prototype-6d2545e2d700.herokuapp.com/page-index/home/account-home",
    serviceNavigationParams: {
      serviceName: "Claim money back from Access to Work",
      serviceUrl: "/index"
    }
  }) }}
{% endblock %}

{% block beforeContent %}

{{ govukPhaseBanner({
  tag: {
    text: "Prototype"
  },
  html: 'This is a prototype. It is not a real service.'
}) }}

 <div class="govuk-back-link-and-translation govuk-width-container">
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}

  <div class="language-switcher">
    <span class="govuk-body-s">English&nbsp;|&nbsp;
    <a href="#" class="govuk-link">Cymraeg</a></span>
  </div>
  
</div>

<style>
  .govuk-back-link-and-translation {
    display: flex;
    align-items: center;
  }
   
  .language-switcher {
    margin-left: auto; /* pushes this link to the far right */
  }
</style>

{% endblock %}

{% block content %}

{% set totalCost = 0 %}
{% for day in range(1, 32) %}
  {% set numberOfWorkJourneys = data['day-' + day] | int(0) %}

  {% if numberOfWorkJourneys > 0 %}
    {% for journey in range(1, numberOfWorkJourneys + 1) %}
      {% set cost = data['journey-cost-' + day + '-' + journey] | float %}
      {% set totalCost = totalCost + cost %}
    {% endfor %}
  {% endif %}
{% endfor %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        You've told us you want to claim for {{ totalCost | currency }} of travel
      </h1>
          <div class="govuk-summary-card">
            <div class="govuk-summary-card__title-wrapper">
              <h2 class="govuk-summary-card__title">
                Taxi journeys in {{ data['claim-month-tdwm-month'] | monthName }} {{ data['claim-month-tdwm-year'] }}
              </h2>
              <ul class="govuk-summary-card__actions">
                <a class="govuk-link" href="number-of-journeys">Change journeys</a>
              </ul>
            </div>
            <div class="govuk-summary-card__content">
              <dl class="govuk-summary-list">
              {% for day in range (1, 32) %}
              {% set numberOfWorkJourneys = data['day-' + day] | int(0) %}

              {% if numberOfWorkJourneys > 0  %}
                {% for journey in range(1, numberOfWorkJourneys + 1) %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{ day }} {{ data['claim-month-tdwm-month'] | monthName }}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    From {{ data['journey-start-postcode-' + day + '-' + journey] }}<br>
                    To {{ data['journey-end-postcode-' + day + '-' + journey] }}<br>
                    {{ data['journey-cost-' + day + '-' + journey] | currency }}
                  </dd>
                </div>
                {% endfor %}
              {% endif %}
              {% endfor %}
              </dl>
            </div>
          </div>

      <form action="{{versionPath}}/tdwm-add-other-month-answer" method="post" novalidate>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        name: "add-other-month-tdwm",
        value: data['add-other-month-tdwm'],
        fieldset: {
          legend: {
            text: "Do you want to add another month to this claim?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
